<div class="admin-card-stats mx-1 my-2">
    <div class="admin-chiffre-card-body text-center">
        <span class="fw-bold">{{ texte }}</span>
    </div>
    <div class="admin-chiffre-card-body text-center">
        <span class="">{{ data }}</span>
    </div>
</div>