<div class="chiffre-card mx-1 my-2">
    <div class="chiffre-card-body text-center">
            <img src="{{ asset(image) }}" alt="{{ alt }}" height="90">
    </div>
    <div class="chiffre-card-body text-center">
            <span class="fw-bold">{{ data }}</span>{{ texte }}
    </div>
</div>
