<div class="form-col search-container">
    <label for="ods-places" >{{ label }}</label>
    <div class="input-search-container">
        <input id="ods-places" class="ods-places" type="search" name="ods-places" placeholder="Recherchez une adresse ici">
        <button class="ods-places-launch"></button>
        <button class="ods-places-close hidden"></button>
    </div>
    <div class="ods-places-results-container hidden">
        <ul class="ods-places-results"></ul>
    </div>
</div>
