<div class="upload-label-block">
    <label for="picture">{{ uploadZone.label }}</label>
    <div class="optional-italic">Optionnel</div>
</div>
<div class="upload-zone">
    <input type="file" class="upload-input" id="{{ uploadZone.name }}" name="{{ uploadZone.name }}[]" accept="image/jpeg">
    <input type="hidden" name="MAX_FILE_SIZE" value="5242880">
    <img class="placeholder-img" src="{{ asset('media/layout/icons/photo.svg') }}" alt="upload photo" width="32">
    <div class="upload-zone-placeholder">Ajoutez une photo</div>
</div>
