{% extends 'base.html.twig' %}

{% set headers = {
	'actualites': {
		'title': 'Actualités',
		'subtitle': 'Vos <strong>actualités</strong> de l’Observatoire des saisons.'
	}
} %}

{% block main_content %}

	{# add posts list-card #}
	{% set listCards = [] %}
	{% for article in articles %}
		{% set listCards = listCards|merge([{
			'slug': article.slug,
			'image': article.cover,
			'heading': {
				'is_link': true,
				'title': article.title
			},
			'details': {
				'infos': {
					'bolder': article.author.getDisplayName(),
					'lighter': article.createdAt|date("j/m/Y")
				}
			}
		}]) %}
	{% endfor %}
	{% set listCards = listCards|merge(
		[{
			'add': {
				'text': 'Vous souhaitez nous faire partager une actualité ?',
				'button': 'Saisir une actualité'
			}
		}]
	) %}

	{% for id, listCard in listCards %}
		{% include 'components/list-cards.html.twig' %}
	{% endfor %}

	{% include 'components/pagination.html.twig' %}

{% endblock %}

{% block bottom_content %}
	{# @TODO: link to news-form when ready #}
	<a href="" class="button bt-open-form">Saisir une actualité</a>
{% endblock %}
