{% extends 'base.html.twig' %}

{% set headers = {
	'actualites': {
		'title': 'Actualités',
		'subtitle': 'Vos <strong>actualités</strong> de l’Observatoire des saisons.'
	}
} %}

{% block main_content %}

	{% set addListCardId = 0 %}
	{% for id, article in articles %}
		{% include 'components/list-cards/news-list-cards.html.twig' %}
		{% set addListCardId = loop.last ? id + 1 %}
	{% endfor %}

	<div class="list-cards-item-add" data-id="{{ addListCardId }}">
		<div class="add-list-card">
			<div class="icon-add-list-card add-square-icon"></div>
			<div class="add-card-text">Vous souhaitez nous faire partager une actualité ?</div>
			<a href="" class="button bt-add ">Saisir une actualité</a>
		</div>
	</div>

	{% include 'components/pagination.html.twig' %}

{% endblock %}

{% block bottom_content %}
	{# @TODO: link to news-form when ready #}
	<a href="" class="button bt-open-form">Saisir une actualité</a>
{% endblock %}
