{% extends 'base.html.twig' %}

{% block content %}
	<div class="content page stations">
		<div class="stations-container">
			<div class="species-list">
				<div class="stations-header">
					<h2 class="heading">Actualités</h2>
					<p class="paragraph-2">Vos <span class="text-span-3">actualites</span> de l'Obseratoire des saisons.</p>
				</div>
				<div class="species-list-item first">
					<div class="species-img _1"></div>
					<div class="species-item-name">
						<a href="#" class="indiv-item-name">Abricotier</a>
						<div class="text-block-11">Prunus armeniaca</div>
					</div>
					<div class="species-item-stades">
						<div class="dernier-stade">2 individus • 18&nbsp;observations</div>
						<div><span class="bolder">Floraison</span> - le 18/03/2019</div>
					</div>

				</div>
				<div class="species-list-item">
					<div class="species-img _2"></div>
					<div class="species-item-name">
						<a href="#" class="indiv-item-name">Amandier</a>
						<div class="text-block-11">Prunus dulcis</div>
					</div>
					<div class="species-item-stades">
						<div class="dernier-stade">1 individu • 9&nbsp;observations</div>
						<div><span class="bolder">Scénescence</span> - le 18/09/2018</div>
					</div>
				</div>
				<div class="species-list-item last">
					<div class="species-img _3"></div>
					<div class="species-item-name">
						<a href="#" class="indiv-item-name">Bouleau</a>
						<div class="text-block-11">Betula pendula</div>
					</div>
					<div class="species-item-stades">
						<div class="dernier-stade">2 individus • 11&nbsp;observations</div>
						<div><span class="bolder">Scénescence</span> - le 18/09/2018</div>
					</div>
				</div>
				<div class="species-list-actionbar bottom">
					<a href="#" class="new-species ods-inline-block">
						<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce45658881a4d72345d8210_Trac%C3%A9%20193.svg" alt="" class="icn-large">
						<div class="div-block-15 green">
							<div>EXPORTER</div>
						</div>
					</a>
					<a href="#" class="new-species plus bott ods-inline-block">
						<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce45658881a4d371a5d820f_Trac%C3%A9%20192.svg" alt="" class="icn-large">
						<div class="div-block-15 green">
							<div>AJOUTER</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	{% include 'layout/overlay.html.twig' %}
	<a href="#" class="obs-saisie-bt ods-inline-block">
		<div>Saisir une actualité</div>
	</a>
{% endblock %}
