{% extends 'base.html.twig' %}

{% block content %}
	<div class="content page stations">
		<div class="stations-container">
			<div class="species-list">
				<div class="stations-header">
					<h2 class="heading">À propos de l'Obseratoire des saisons</h2>
					<p class="paragraph-2">Participez au programme de <span class="text-span-3">l'ODS</span>.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
