{% set accordions = [
    {
        'tab_reference': 'plantes',
        'title': 'Arbres et arbustes',
        'contents': [
            {
                'type': 'include',
                'include_uri': 'components/list-cards.html.twig',
                'include_object_name': 'list_card',
                'data': {
                'image': 'https://www.obs-saisons.fr/images/protocole/Cercis_siliquastrum_fiche.jpg',
                    'heading': {
                        'is_link': true,
                        'title': 'Arbre de Judée',
                        'text' : 'Cercis siliquastrum L.'
                    }
                }
            },
            {
                'type': 'include',
                'include_uri': 'components/list-cards.html.twig',
                'include_object_name': 'list_card',
                'data': {
                    'image': 'https://www.obs-saisons.fr/images/protocole/betula-pendula.jpg',
                    'heading': {
                        'is_link': true,
                        'title': 'Bouleau',
                        'text' : 'Betula pendula Roth'
                    }
                }
            },
            {
                'type': 'include',
                'include_uri': 'components/list-cards.html.twig',
                'include_object_name': 'list_card',
                'data': {
                    'image': 'https://www.obs-saisons.fr/images/protocole/quercus_lanuginosa_fleur.jpg',
                    'heading': {
                        'is_link': true,
                        'title': 'Chêne blanc',
                        'text' : 'Quercus pubescens Willd.'
                    }
                }
            }
        ]
    },
    {
        'tab_reference': 'plantes',
        'title': 'fruitiers',
        'contents': [
            {
                'html':
                '<div class="rich-text-block page-content">
                            <p>Pour chaque espèce d\'<strong>abres fruitiers</strong>, des variétés parmi les plus communes peuvent être observées.</p>
                            <p>Si vous ne connaissez pas la variété, ou que la variété que vous observez n\'est pas dans la liste, vous enregistrerez vos observations sous le nom générique de l’espèce.</p>
                            <p>Il n’existe pas de fiche d’identification ni de fiche phénologique pour les variétés (se reporter aux fiches de l’espèce correspondante).</p>
                        </div>'
            },
            {
                'type': 'include',
                'include_uri': 'components/list-cards.html.twig',
                'include_object_name': 'list_card',
                'data': {
                    'image': 'https://upload.wikimedia.org/wikipedia/commons/f/f9/Apricots.jpg',
                    'heading': {
                        'is_link': true,
                        'title': 'Abricotier',
                        'text' : 'Prunus armeniaca'
                    }
                }
            },
            {
                'type': 'include',
                'include_uri': 'components/list-cards.html.twig',
                'include_object_name': 'list_card',
                'data': {
                    'image': 'https://www.obs-saisons.fr/images/protocole/prunus-dulcis.jpg',
                    'heading': {
                        'is_link': true,
                        'title': 'Amandier',
                        'text' : 'Prunus dulcis (Mill) D.A.Webb'
                    }
                }
            },
            {
                'type': 'include',
                'include_uri': 'components/list-cards.html.twig',
                'include_object_name': 'list_card',
                'data': {
                    'image': 'https://www.obs-saisons.fr/images/protocole/prunus-avium_kenjonbro.jpg',
                    'heading': {
                        'is_link': true,
                        'title': 'Cerisier',
                        'text' : 'Prunus avium L.'
                    }
                }
            }
        ]
    },
    {
        'tab_reference': 'animaux',
        'title': 'oiseaux',
        'contents': [
            {
                'type': 'include',
                'include_uri': 'components/list-cards.html.twig',
                'include_object_name': 'list_card',
                'data': {
                    'image': 'https://upload.wikimedia.org/wikipedia/commons/7/74/Cuculus_canorus_1.jpg',
                    'heading': {
                        'is_link': true,
                        'title': 'Coucou gris',
                        'text' : 'Cuculus canorus'
                    }
                }
            },
            {
                'type': 'include',
                'include_uri': 'components/list-cards.html.twig',
                'include_object_name': 'list_card',
                'data': {
                    'image': 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Himantopus_himantopus_-_Pak_Thale.jpg/1280px-Himantopus_himantopus_-_Pak_Thale.jpg',
                    'heading': {
                        'is_link': true,
                        'title': 'Echasse blanche',
                        'text' : 'Himantopus himantopus'
                    }
                }
            }
        ]
    }
] %}

{% extends 'base.html.twig' %}
{% set headers = {
    'especes': {
        'title': 'Espèces à observer',
        'subtitle': 'Toutes les espèces du programme <strong>Observatoire des saisons</strong>.'
    }
} %}

{% block main_content %}

    {% include 'components/actionbar.html.twig' with {
        actionbar: {
            'components': [
                {
                    'name': 'tabs-holder',
                    'data': [{'title':'Plantes', 'reference': 'plantes'}, {'title':'Animaux', 'reference': 'animaux'}]
                },
                {
                    'name': 'squared-button',
                    'data': {
                    'icon': 'export',
                    'label': 'exporter'
                }
                }
            ]
        }
    } %}

    {% for id, accordion in accordions %}
        {% include 'components/accordion-block.html.twig' %}
    {% endfor %}

{% endblock %}