{% extends 'basic-page-template.html.twig' %}

{% set headers = {
	'evenements': {
		'title': 'Evenements',
		'subtitle': 'Vos <strong>évènements</strong> de l\'Observatoire des saisons.'
	}
} %}

{% block main_content %}

	{# add events list-card #}
	{% set list_cards = [] %}
	{% for event in events %}
		{% set event_dates = [event.startDate] %}
		{% if event.endDate != event.startDate %}
			{% set event_dates = event_dates|merge([event.endDate]) %}
		{% endif %}

		{% set list_cards = list_cards|merge([{
			'slug': event.slug,
			'events_dates': event_dates,
			'heading': {
				'is_link': true,
				'title': event.title,
				'text': event.location
			},
			'details': {
				'infos': {
					'bolder': event.author,
					'lighter': event.createdAt|date("j/m/Y")
				}
			}
		}]) %}
	{% endfor %}
	{% set list_cards = list_cards|merge(
		[{
			'add': {
				'text': 'Vous souhaitez proposer un évènement ?',
				'button': 'Saisir un évènement'
			}
		}]
	) %}

	{% for id, list_card in list_cards %}
		{% include 'components/list-cards.html.twig' %}
	{% endfor %}

{% endblock %}

{% block bottom_content %}
	{% include 'layout/overlay.html.twig' with {id: route} %}
	<a href="#" class="button bt-open-form">Saisir un évènement</a>
{% endblock %}