{# exemple evenements #}
{% set list_cards = [
	{
		'events_dates':[[22, 'JAN'], [26,'JAN']],
		'heading': ['Stage de terrain autour de St-Hippolyte-du-Fort', 'St-Hippolyte-du-Fort (30)'],
		'details': {'info_date': ['Coco L\'Asticot', '28/12/2018']}
	},
	{
		'events_dates':[[4, 'AVR'], [16,'JUIN']],
		'heading': ['Exposition les 4 saisons de Soisson', 'Soisson (02)'],
		'details': {'info_date': ['Grégoire de Tours', '8/02/2019']}
	},
	{
		'events_dates':[[1,'MAI']],
		'heading': ['Colloque \"Le muguet pète un cable\"', 'Vichy (03)'],
		'details': {'info_date': ['Coq Licot', '8/03/2019']}
	},
	{
		'events_dates':[[1, 'OCT'], [1,'NOV']],
		'heading': ['Inventaire d\'automne des Couleuvres de Montpellier', 'Aimargues (30)'],
		'details': {'info_date': ['Philippe Frêche', '8/01/2019']}
	}
] %}
{# end exemple evenements #}

{#********************************************************************************************************************#}
{% extends 'basic-page-template.html.twig' %}

{% block main_content %}
	{# add events list-card #}
	{% set list_cards = list_cards|merge([{'add': ['Vous souhaitez proposer un évènement ?', 'Saisir un évènement']}]) %}

	{% for id, datas in list_cards %}
		{% include 'components/list-cards.html.twig' with {template: 'evenement'}%}
	{% endfor %}
{% endblock %}

{% block bottom_content %}
	{% include 'layout/overlay.html.twig' %}
	<a href="#" class="button bt-open-form">Saisir un évènement</a>
{% endblock %}