{% extends 'base.html.twig' %}

{% block main_content %}
	{% for id, event in events %}
		{% include 'components/list-cards/events-list-cards.html.twig' %}
		{% set addListCardId = loop.last ? id + 1 %}
	{% endfor %}

	<div class="list-cards-item-add" data-id="{{ addListCardId|default(0) }}">
		<div class="add-list-card">
            <div class="icon-add-list-card add-square-orange-icon"></div>
            <div class="add-card-text">Vous souhaitez proposer un évènement ?</div>
            <a href="" class="button bt-add orange">Saisir un évènement</a>
        </div>
    </div>

	{% include 'components/pagination.html.twig' with {routePath: path('evenements')} %}

{% endblock %}

{% block bottom_content %}
	{# @TODO: link to news-form when ready #}
	<a href="" class="button bt-open-form">Saisir un évènement</a>
{% endblock %}
