{% extends 'base.html.twig' %}

{% block main_content %}

    {% include 'layout/header.html.twig' with ({
        'title': 'Outils & Ressources',
        'subtitle': 'Tous les outils et ressources du programme <strong>Observatoire des saisons</strong>.'
    }) %}

    <div class="rich-text-block page-content">
        {{ page.content|default|raw }}
    </div>

{% endblock %}

