{% extends 'base.html.twig' %}

{% block main_content %}

    {% include 'layout/header.html.twig' with ({
        'title': page.title,
        'subtitle':
        "Participez au programme de l’<strong>Observatoire des saisons</strong>.<br>
            Accéder aux <a href=#{path('stations')}>stations d’observation</a>.<br>
            Accéder au <a href=#{path('protocole')}>Protocole</a>."
    }) %}

    <div class="rich-text-block page-content">
        {{ page.content|default|raw }}
    </div>


{% endblock %}
