{% extends 'basic-page-template.html.twig' %}

{% set headers = {
    'participer': {
        'title': 'Participer',
        'subtitle':
            "Participez au programme de <strong>l\'Observatoire des saisons</strong>.<br>
            Accéder aux <a href=#{path('stations')}>stations d\'observation</a>."
    }
} %}

