{% extends 'base.html.twig' %}

{% set headers = {
    'participer': {
        'title': 'Participer',
        'subtitle':
            "Participez au programme de l’<strong>Observatoire des saisons</strong>.<br>
            Accéder aux <a href=#{path('stations')}>stations d’observation</a>.<br>
            Accéder au <a href=#{path('protocole')}>Protocole</a>."
    }
} %}

