{% extends 'base.html.twig' %}

{% set headers = {
    'protocole': {
        'title': 'Protocole',
        'subtitle':
            "Protocole de l’<strong>Observatoire des saisons</strong>.<br>
            Retour à la page <a href=#{path('participer')}>participer</a>.<br>
            Saisir une <a href=#{path('stations')}>obsevation ou une nouvelle station</a>."
    }
} %}

