{% extends 'base.html.twig' %}

{% block main_content %}

    {% include 'layout/header.html.twig' with ({
        'title': 'Protocole',
        'subtitle':
        "Protocole de l’<strong>Observatoire des saisons</strong>.<br>
            Retour à la page <a href=#{path('participer')}>participer</a>.<br>
            Saisir une <a href=#{path('stations')}>observation ou une nouvelle station</a>."
    }) %}

    <div class="rich-text-block page-content">
        {{ page.content|default|raw }}
    </div>

{% endblock %}
