{% extends 'base.html.twig' %}

{% block main_content %}

	{% include 'layout/header.html.twig' with ({
        'title': title,
        'subtitle': subtitle|default
    }) %}

    <div class="rich-text-block page-content">
        {{ page.content|default|raw }}
    </div>

{% endblock %}
