{# exemple station_species #}
{% set station_species= [
	{
		'name': 'Abricotier',
		'scientific_name': 'Prunus armeniaca',
		'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce4551b881a4d39495d7ebc_abricotier-1024x678.jpg',
		'periods': {
			'feuillaison' : ["0000-03-16","0000-05-26"],
			'floraison' : ["0000-02-06","0000-06-25"],
			'fructification' : ["0000-06-30","0000-09-01"]
		},
		'individuals': [
			{
				'name': 'Abricotiers de la sortie Est',
				'observations':{
					'2019': [
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a0b5f0b1baf268acc_small04.jpg',
							'stade': 'Feuillaison - stade 15',
							'date': '2019-03-26'
						},
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce254060b5f0b7dc6261cf5_ine-carriquiry-120230-unsplash.jpg',
							'stade': 'Feuillaison - stade 11',
							'date': '2019-05-22'
						},
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720ad0cadbb55830878c_small02.jpg',
							'stade': 'Floraison - stade 65',
							'date': '2019-04-14'
						}
					]
				}
			},
			{
				'name': 'Abricotiers de la sortie Nord',
				'observations': {
					'2019': [
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce4551b881a4d39495d7ebc_abricotier-1024x678.jpg',
							'stade': 'Feuillaison - stade 15',
							'date': '2019-02-28'
						},
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce45563497536c0094bb9ed_amandier.jpg',
							'stade': 'Floraison - stade 61',
							'date': '2019-04-16'
						}
					]
				}
			}
		]
	},
	{
		'name': 'Amandier',
		'scientific_name': 'Prunus dulcis',
		'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce45563497536c0094bb9ed_amandier.jpg',
		'periods': {
			'feuillaison' : ["0000-03-16","0000-04-26"],
			'floraison' : ["0000-05-06","0000-07-25"],
			'fructification' : ["0000-08-30","0000-10-01"],
			'scenescence' : ["0000-10-07","0000-11-22"]
		},
		'individuals': [
			{
				'name': 'Amandier de la mère Michel',
				'observations': {
					'2019': [
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce254060b5f0b7dc6261cf5_ine-carriquiry-120230-unsplash.jpg',
							'stade': 'Feuillaison - stade 11',
							'date': '2019-03-22'
						},
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720ad0cadbb55830878c_small02.jpg',
							'stade': 'Floraison - stade 61',
							'date': '2019-07-26'
						}
					],
					'2018': [
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a8eff8b09290b7bd7_small03.jpg',
							'stade': 'Scénescence - stade 95',
							'date': '2018-09-18'
						}
					]
				}
			},
			{
				'name': 'Amandier de Mr Seguin',
				'observations':{
					'2018': [
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a0b5f0b1baf268acc_small04.jpg',
							'stade': 'Feuillaison - stade 11',
							'date': '2018-03-26'
						},
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce254060b5f0b7dc6261cf5_ine-carriquiry-120230-unsplash.jpg',
							'stade': 'Feuillaison - stade 11',
							'date': '2018-05-22'
						},
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720ad0cadbb55830878c_small02.jpg',
							'stade': 'Floraison - stade 65',
							'date': '2018-04-14'
						}
					]
				}
			}
		]
	},
	{
		'name': 'Bouleau',
		'scientific_name': 'Betula pendula',
		'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce4559818ef412a0ac8dc66_bouleau.jpg',
		'periods': {
			'feuillaison' : ["0000-03-16","0000-04-26"],
			'floraison' : ["0000-05-06","0000-07-25"],
			'fructification' : ["0000-08-30","0000-10-01"],
			'scenescence' : ["0000-10-07","0000-11-22"]
		},
		'individuals': [
			{
				'name': 'Bouleau de la CGT',
				'observations': {
					'2019': [
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720ad0cadbb55830878c_small02.jpg',
							'stade': 'Floraison - stade 11',
							'date': '2019-07-26'
						},
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a8eff8b09290b7bd7_small03.jpg',
							'stade': 'Scénescence - stade 95',
							'date': '2019-10-09'
						}
					],
					'2018': [
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a8eff8b09290b7bd7_small03.jpg',
							'stade': 'Scénescence - stade 92',
							'date': '2018-10-09'
						}
					],
					'2016': [
						{
							'image': 'https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a8eff8b09290b7bd7_small03.jpg',
							'stade': 'Floraison - stade 56',
							'date': '2016-7-09'
						}
					]
				}
			}
		]
	}
] %}

{# end exemple station_species #}

{#********************************************************************************************************************#}
{% extends 'basic-page-template.html.twig' %}

{% set page_container_classes = 'narrow' %}
{% set template = 'observation' %}

{# setting datas for list-cards and calendar #}
{# speculation about the form the data will take #}
{% set list_cards = [] %}
{% for species in station_species %}
	{% set list_card = {
		'image': species.image,
		'heading': [species.name, species.scientific_name],
	} %}

	{% if species.individuals is defined %}
		{% set individuals_count = species.individuals|length %}

		{% set observations = species.individuals|column('observations')|first %}

		{% set observations_count = 0 %}
		{% for obs_year in observations %}
			{% set observations_count = observations_count + obs_year|length %}
		{% endfor %}

		{% set last_obs_year = max(observations|keys) %}

		{% set last_obs =  max(observations[last_obs_year]|column('date')) %}

		{% set last_stade = '' %}
		{% for obs in observations[last_obs_year] %}
			{% if obs.date == last_obs %}
				{% set last_stade = obs.stade|split(' - ')|first %}
			{% endif %}
		{% endfor %}

		{% set list_card = list_card|merge({
			'details': {
				'grey_text': [individuals_count, observations_count],
				'info_date': [last_stade, last_obs|date("d/m/Y")]
			},
			'calendar': [species.periods, species.individuals]
		}) %}
	{% endif %}

	{% set list_cards = list_cards|merge([list_card]) %}
{% endfor %}

{# begin display page #}
{% block top_content %}
	<div class="hero-header">
		<div class="hero-header-media-part map">
			<div class="contributions-mini-block" style="background-image: url('https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce44d65881a4d28e05d5d20_lecoq.jpg');">
				<div class="contributions-number">+ 12</div>
			</div>
		</div>
		<div class="hero-header-content">
			<h3 class="hero-header-title"><span class="lighter">Jardin Lecoq &nbsp;•</span> &nbsp;Observations</h3>
			<p class="hero-header-subtitle">Le jardin emblématique de Clermont-Ferrand, des espèces intéressantes à y observer. Bienvenue aux contributeurs !</p>
			<div class="hero-header-detail map">Lat. : 45,7712 &nbsp;• &nbsp;Long. : 3,0874</div>
		</div>
		<div class="member-label-block">
			<div  class="member-avatar" style="background-image: url('https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce4536c881a4d14015d740b_Capture%20d%E2%80%99e%CC%81cran%202019-05-21%20a%CC%80%2021.37.04.png')"></div>
			<div class="member-label-block-content">
				<div class="member-label-block-title">Créée par</div>
				<a href="#" class="member-label-block-link">Olivier Rodriguez</a>
			</div>
		</div>
		<div class="privacy-status">Station publique</div>
	</div>
{% endblock %}

{% block header_content %}{% endblock %}

{% block main_content %}
	{% include 'components/actionbar.html.twig' with {datas: {'components': [['side-block',{'text': "#{list_cards|length} espèce#{list_cards|length !=1 ? 's'} observées"}], ['tabs-holder'], ['squared-button']]}} %}

	{% for id, datas in list_cards %}
		{% include 'components/list-cards.html.twig' with { buttons: [] } %}

		{% if datas.calendar is defined %}
			{% include 'components/calendar-tab.html.twig' with {datas: datas.calendar} %}
		{% endif %}
	{% endfor %}

	{% include 'components/actionbar.html.twig' %}

	{% include 'components/help-block.html.twig' with {datas: ['Cliquez sur l’icône<strong>?</strong> à droite de chaque espèce observée pour en afficher les indications d’observation.<br>‍<br>']} %}
{% endblock %}

{% block bottom_content %}
	{% include 'layout/overlay.html.twig' with {id: 'indiv'} %}

	<a href="#" class="button bt-open-form">Saisir une observation</a>
{% endblock %}

