{% extends 'base.html.twig' %}

{% set headers = {'header': {}} %}

{% block top_content %}
	{% include 'components/hero-header.html.twig' %}
{% endblock %}

{% set page_container_classes = 'narrow' %}
{% set show = (not station.getIsPrivate() or app.user.id|default('none') == station.getUser().getId()) %}

{% block header_content %}{% endblock %}
{% block main_content %}
	{% if show %}

		{# displays top actionbar with species count #}
		{% set species = stationData.stationAllSpecies %}
		{% set speciesCountDisplayS = species|length != 1 ? 's' : '' %}

		{# sets top actionbar components #}
		{% set topActionbarComponents = [
			{
				'name': 'side-block',
				'data': {
					'text': "#{species|length} espèce#{speciesCountDisplayS} observée#{speciesCountDisplayS}"
				}
			}
		] %}
		{% if species|length > 0 %}
			{% set topActionbarComponents = topActionbarComponents|merge([{'name': 'tabs-holder'}]) %}
		{% endif %}
		{% set topActionbarComponents = topActionbarComponents|merge([{
			'name': 'squared-button',
			'data': squaredButtonData
		}]) %}
		{# displays top actionbar #}
		{% include 'components/actionbar.html.twig' with {
			actionbar: {
				'components': topActionbarComponents
			}
		} %}

		{# displays list-cards and calendar #}
		{% for id, list_card in list_cards %}
			{% include 'components/list-cards.html.twig' with { buttons: list_card.buttons } %}

			{% if list_card.calendar is defined %}
				{% include 'components/calendar-tab.html.twig' with {calendar: list_card.calendar} %}
			{% endif %}
		{% endfor %}

		{% if species|length > 0 %}
			{% include 'components/actionbar.html.twig' with {
				actionbar:{
					'classes': 'bottom',
					'components': [
						{
							'name': 'squared-button',
							'data': {
								'icon': 'export',
								'label': 'exporter'
							}
						},
						{
							'name': 'squared-button',
							'data': squaredButtonData
						}
					]
				}
			} %}
		{% endif %}

		{% include 'components/help-block.html.twig' with {
			help: {
				'text': "Cliquez sur l’icône <strong><img src=#{asset('media/layout/icons/help-circle.svg')} style=background-color\:#e4dfda;padding:5px ></strong> à droite de chaque espèce observée pour en afficher les indications d’observation.<br>‍<br>"
			}
		} %}

	{% endif %}
{% endblock %}

{% block bottom_content %}
	{% if show %}
		{% set disable = (app.user.id is not defined) %}
		{% if not disable %}
			<div class="overlay hidden individual">
				{% include 'forms/individual/indiv-form.html.twig' with {action:'individual', form: individualForm} %}
			</div>
			<div class="overlay hidden observation">
				{% if stationData.stationAllSpeciesIndividuals is not empty %}
					{% include 'forms/observation/obs-form.html.twig' with {action:'observation', form: observationForm} %}
				{% endif %}
			</div>
		{% endif %}
		{% set stationAllIndividuals = stationData.getStationAllIndividualsIds() %}
		{% if stationAllIndividuals is not empty %}
			<a href="" class="button bt-open-form open open-observation-form-all-station{{ disable ? ' disabled' }}" data-open="observation" data-req-login="true" data-station="{{ station.id }}" data-indiv="{{ stationAllIndividuals }}" {{ disable ? 'style=cursor:not-allowed; aria-disabled=true title="connexion obligatoire"' }}>
				Saisir une observation
			</a>
		{% endif %}
	{% endif %}
{% endblock %}



