{% extends 'base.html.twig' %}

{% set headers = {
	'stations': {
		'title': 'Stations d’observation',
		'subtitle': 'Les <strong>stations d’observation</strong> sont les zones où se trouvent les plantes ou animaux que vous souhaitez observer. <br>Vous pouvez rejoindre une station existante ou en créer une nouvelle.'
	}
} %}

{% block main_content %}
	{% include 'components/actionbar.html.twig' with {
		actionbar: {
			'classes': 'search',
			'components': [
				{
					'name': 'side-block',
					'data': {
						'type': 'search',
						'text': 'Ville, code postal...'
					}
				},
				{
					'name': 'tabs-holder',
					'data': {
						'classAttr': ' list',
						'tabs': [
							{
								'title':"Toutes les stations"
							},
							{
								'title':"Mes stations",
								'reference': app.user.id|default('none')
							}
						]
					}
				}
			]
		}
	} %}
	<div class="cards-grid-container">
		<div class="card add">
			<div class="add-card-content">
				<div class="add-pointer-icon add-card-marker"></div>
				<div class="add-card-text">Votre station n’existe pas encore ?</div>
				<a href="" class="button bt-add open" data-open="station">
					Créer une station
				</a>
			</div>
		</div>
		{% set cards = setStationCards(stations)|sort((a, b) => a.lastActivity <=> b.lastActivity)|reverse %}
		{%  for card in cards %}
			{% include 'components/cards/station-cards.html.twig' with {
				station: card.station,
				observations: card.observations
			} %}
		{% endfor %}
	</div>
	{% include 'components/help-block.html.twig' with {
		help: {
			'text':
				'Cliquez sur une station pour accéder à la liste des observations qui y ont été faites.<br>
				Vous pourrez découvrir la liste des espèces à observer pour chaque station et ajouter vos propres observations.<br>
				<br>'
		}
	} %}

{% endblock %}

{% block bottom_content %}
	{% if app.user.id is defined %}
		<div class="overlay hidden station">
			{% include 'forms/station/station-form.html.twig' with {action:'station', form: stationForm} %}
		</div>
	{% endif %}
{% endblock %}
