{% extends 'base.html.twig' %}

{% set headers = {'header': {}} %}

{% block top_content %}
	{% include 'components/hero-header.html.twig' with {header: station} %}
{% endblock %}

{% set page_container_classes = 'narrow' %}

{% block header_content %}{% endblock %}
{% block main_content %}
	{% if station.isPublic %}

		{# displays top actionbar with species count #}
		{% include 'components/actionbar.html.twig' with {
			actionbar: {
				'components': [
					{
						'name': 'side-block',
						'data': {
							'text': "#{station.species|length} espèce#{station.species !=1 ? 's'} observée#{station.species !=1 ? 's'}"
						}
					},
					{'name': 'tabs-holder'},
					{'name': 'squared-button'}
				]
			}
		} %}
		{# displays list-cards and calendar #}
		{% for id, list_card in list_cards %}
			{% include 'components/list-cards.html.twig' with { buttons: [] } %}

			{% if list_card.calendar is defined %}
				{% include 'components/calendar-tab.html.twig' with {calendar: list_card.calendar} %}
			{% endif %}
		{% endfor %}

		{% include 'components/actionbar.html.twig' %}

		{% include 'components/help-block.html.twig' with {
			help: {
				'text': "Cliquez sur l’icône <strong><img src=#{asset('media/layout/icons/help-circle.svg')} style=background-color\:#e4dfda;padding:5px ></strong> à droite de chaque espèce observée pour en afficher les indications d’observation.<br>‍<br>"
			}
		} %}

	{% endif %}
{% endblock %}

{% block bottom_content %}
	{% if station.isPublic %}
		{% include 'layout/overlay.html.twig' with {id: 'indiv'} %}

		<a href="#" class="button bt-open-form">Saisir une observation</a>
	{% endif %}
{% endblock %}

