{% extends 'base.html.twig' %}

{% set headers = {'header': {}} %}
{% block top_content %}
	{% include 'components/hero-header.html.twig' %}
{% endblock %}

{% set page_container_classes = 'narrow' %}
{% set show = not station.isPrivate or app.user.id|default('none') == station.user.id or is_granted('ROLE_ADMIN') %}
{% set disable = (app.user.id is not defined) %}

{% set species = species|default([])|merge(individuals|map(i => i.species))|removeDuplicates %}

{% set hasSpecies = species|length > 0 %}

{% block header_content %}{% endblock %}

{% block main_content %}

	{# displays "s" to species label if species count is not 1 #}
	{% set speciesCountDisplayS = species|length != 1 ? 's' %}

	{# sets top actionbar components #}
	{% set topActionbarComponents = [
		{
			'name': 'side-block',
			'data': {
				'text': "#{species|length} espèce#{speciesCountDisplayS|default} observée#{speciesCountDisplayS|default}"
			}
		}
	] %}

	{% if hasSpecies %}
		{#{% set tabsHolderData = {'tabs': [{'title':''}]} %}#}
		{% if show %}
			{% set tabsHolderData = {
				'tabs': [
					{
						'title':"Toutes les observations"
					},
					{
						'title':"Mes observations",
						'reference': app.user.id|default('none')
					}
				]
			} %}
		{% endif %}
		{% set topActionbarComponents = topActionbarComponents|merge([
			{
				'name': 'tabs-holder',
				'data': tabsHolderData|default
			}
		]) %}
	{% endif %}

	{% if show %}

		{# sets class attributes for squared button #}
		{% set actionBarClassAttributes = ['open','open-individual-form-all-station'] %}
		{% if disable %}
			{% set actionBarClassAttributes = actionBarClassAttributes|merge(['disabled']) %}
		{% endif %}

		{# sets species ids list string in data attribute for squared button #}
		{% if hasSpecies %}
			{% set speciesIds = speciesIdsArray|default([])|merge(species|map(s => s.id))|removeDuplicates|join(',') %}
		{% endif %}

		{# sets squared button display data #}
		{% set actionBarSquaredButton = {
			'classes':actionBarClassAttributes,
			'dataAttributes': [
				{
					'name' : 'open',
					'value' : 'individual'
				},
				{
					'name' : 'species',
					'value' : speciesIds|default
				},
				{
					'name' : 'all-species',
					'value' : true
				},
				{
					'name' : 'station',
					'value' : station.id
				},
				{
					'name' : 'req-login',
					'value' : 'true'
				}
			]
		} %}

		{# adds squared button to action bar #}
		{% set topActionbarComponents = topActionbarComponents|merge([{
			'name': 'squared-button',
			'data': actionBarSquaredButton
		}]) %}
	{% endif %}

	{# displays top actionbar #}
	{% include 'components/actionbar.html.twig' with {
		actionbar: {
			'components': topActionbarComponents
		}
	} %}

	{# displays list-cards and calendar #}
	{% set listCards = setStationListCards(species,individuals,observations) %}
	{% for id, listCard in listCards %}
		{% include 'components/list-cards/station-list-cards.html.twig' %}

		{% include 'components/calendar-tab.html.twig' %}
	{% endfor %}

	{% if show and hasSpecies %}
		{% include 'components/actionbar.html.twig' with {
			actionbar:{
				'classes': 'bottom',
				'components': [
					{
						'name': 'squared-button',
						'data': {
							'icon': 'export',
							'label': 'exporter'
						}
					},
					{
						'name': 'squared-button',
						'data': actionBarSquaredButton
					}
				]
			}
		} %}
	{% endif %}

	{% include 'components/help-block.html.twig' with {
		help: {
			'text': "Cliquez sur l’icône <strong><img src=#{asset('media/layout/icons/help-circle.svg')} style=background-color\:#e4dfda;padding:5px ></strong> à droite de chaque espèce observée pour en afficher les indications d’observation.<br>‍<br>"
		}
	} %}

{% endblock %}

{% block bottom_content %}
	{% if show %}

		{% if not disable %}
			<div class="overlay hidden individual">
				{% include 'forms/individual/indiv-form.html.twig' with {action:'individual', form: individualForm} %}
			</div>

			<div class="overlay hidden observation">
				{% if individuals is not empty %}
					{% include 'forms/observation/obs-form.html.twig' with {action:'observation', form: observationForm} %}
				{% endif %}
			</div>
		{% endif %}

		{# sets individuals ids list string in data attribute for squared button #}
		{% if individuals is not empty %}
			{% set individualsIds = individualsIdsArray|default([])|merge(individuals|map(i => i.id))|removeDuplicates|join(',') %}

			{# displays open observation form button #}
			<a href="" class="button bt-open-form open open-observation-form-all-station{{ disable ? ' disabled' }}" data-open="observation" data-req-login="true" data-station="{{ station.id }}" data-indiv="{{ individualsIds|default }}" {{ disable ? 'style=cursor:not-allowed; aria-disabled=true title="connexion obligatoire"' }}>
				Saisir une observation
			</a>
		{% endif %}
	{% endif %}
	{% if observations %}
		{# displays observation informations overlay #}
		<div class="overlay hidden obs-infos">
			<div class="obs-info-container">
				<h3 class="obs-info title">Détails de l’observation</h3>
				<div class="obs-informations"></div>
				<div class="saisie-footer">
					<a href="" class="button bt-form bt-annuler">
						<div>Fermer</div>
					</a>
				</div>
			</div>
		</div>
	{% endif %}


{% endblock %}



