{% extends 'pages/stations.html.twig' %}

{% block stations_grid_cards %}
	<h3 class="search-results">Résultats de votre recherche</h3>

	{% if stationsArray is empty %}
		<p class="search-results">Aucun résultat pour <strong>"{{ search }}"</strong>.</p>

	{% else %}
		<p class="search-results">
			Votre recherche correspond aux stations suivantes,<br>
			les titres correspondent aux critères de recherche :
		</p>

		{% set transSearchKey = {
			'name' : 'Nom de station',
			'locality' : 'Commune',
			'department' : 'Numéro de département',
			'displayName' : 'Nom du créateur'
		} %}
		{% for searchKey, stations in stationsArray %}
			<h4 class="search-results">{{ transSearchKey[searchKey]|capitalize }} :</h4>
			<div class="cards-grid-container">

				{% set cards = setStationCards(stations) %}
				{%  for card in cards %}
					{% include 'components/cards/station-cards.html.twig' with {
						station: card.station,
						observations: card.observations,
						contributorsCount: card.contributorsCount

					} %}
				{% endfor %}
			</div>
		{% endfor %}
	{% endif %}
	{%  if 3 > search|length and not (search matches '/^\\d+$/')%}
		<p class="search-results ods-form-warning">
			Lorsque vous utilisez moins de 3 caractères la recherche est limitée aux résultats exacts.<br>
			Pour plus de resultats (s’il en existe) veuillez entrer au moins 3 caractères.
		</p>
	{% endif %}
{% endblock %}
{% block bottom_content %}{% endblock %}
