{% extends 'base.html.twig' %}

{% block main_content %}

    {% include 'layout/header.html.twig' with ({
        'title': species.vernacularName,
        'subtitle': '<span class="scientific-name">' ~ species.scientificName ~ '</span>'
    }) %}

    <p>{{ species.description|raw }}</p>

    <p>{{ post.content|default('')|raw }}</p>

{% endblock %}
