{% extends 'base.html.twig' %}

{% block main_content %}

    {% include 'layout/header.html.twig' with ({
        'title': species.vernacularName,
        'subtitle': '<span class="scientific-name">' ~ species.scientificName ~ '</span>'
    }) %}

    <div class="rich-text-block-fiche">{{ post.content|default('')|raw }}</div>



{% endblock %}

{% block bottom_content %}
    <div class="species-calendar">
        {% include 'components/species-calendar-tab.html.twig' %}
        {% include 'components/actionbar.html.twig' with {
            actionbar: {
                'components': [
                    {
                        'name': 'squared-button',
                        'data': {
                        'icon': 'export',
                        'label': 'exporter',
                        'link': path('export_single_species',{'speciesId': species.id})
                    }
                    }
                ]
            },
        } %}
    </div>


{% endblock %}

