{% extends 'base.html.twig' %}

{% block main_content %}

    {% include 'layout/header.html.twig' with ({
        'title': specy.vernacularName,
        'subtitle': '<span class="scientific-name">' ~ specy.scientificName ~ '</span>'
    }) %}

    <p>{{ specy.description|raw }}</p>

    <p>{{ post.content|default('')|raw }}</p>

{% endblock %}
