{#
    #: optionnal,
    *: required,
    |: default

    side_block||component_data*: object
        type#: string (i.e. 'search' or 'title') | 'title'
        text(type==search: #, else *): string
#}

{% set type = side_block.type|default('title') %}
<div class="actionbar-list-block {{ type == 'search' ? 'search' }}">
    {% if type == 'search' %}
        <div class="search-form ods-form">
            <form id="email-form" name="email-form" data-name="Email Form">
                <input type="text" class="search-field" maxlength="256" name="Search" data-name="Search" placeholder="{{ side_block.text|default }}" id="Search">
            </form>
            <div class="ods-form-done">
                <div>Resultats de votre recherche</div>
            </div>
            <div class="ods-form-fail">
                <div>Votre recherche n'a pas donné de resultats</div>
            </div>
        </div>
    {% else %}
        <div class="actionbar-title">{{ side_block.text|raw }}</div>
    {% endif %}
</div>