<div class="tabs-holder list stations">
    <a href="{{ path('stations') }}" class="station-tab {{ app.request.get('_route') != 'stations' ? 'not' }}">
       Toutes les stations
    </a>
    {% if app.user %}
        <a href="{{ path('my_stations') }}" class="station-tab {{ app.request.get('_route') != 'my_stations' ? 'not' }}">
            Mes stations
        </a>
    {% endif %}
</div>
