<div class="d-flex justify-content-center mb-3 admin-return-btn">
    <button class="btn btn-lg btn-admin col-lg-6 col-8" href="{{ path('admin_species_list') }}">
        <a href="{{ path('home_admin') }}">
            Retour admin
        </a>
    </button>
</div>