<div class="d-flex justify-content-center mb-3 admin-return-btn">
    <button class="btn btn-lg btn-admin col-lg-6 col-8">
        <a href="{{ path('relay_home_page') }}">
            Retour menu relais
        </a>
    </button>
</div>