.station-header {
position: relative;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
min-height: 340px;
margin-bottom: 0;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-ordinal-group: 2;
-webkit-order: 1;
-ms-flex-order: 1;
order: 1;
border-top: 1px none #000;
border-left: 1px none #000;
background-color: #f5f0eb;
}

.station-header-map {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
height: 200px;
width: 100%;
min-width: 180px;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-align-self: stretch;
-ms-flex-item-align: stretch;
align-self: stretch;
-webkit-box-flex: 0;
-webkit-flex: 0 0 auto;
-ms-flex: 0 0 auto;
flex: 0 0 auto;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(131, 117, 105, 0.3)), to(rgba(131, 117, 105, 0.3))), url("https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce468c3930ad26177b2da79_Capture%20d%E2%80%99e%CC%81cran%202019-05-21%20a%CC%80%2023.07.51.png");
background-image: linear-gradient(180deg, rgba(131, 117, 105, 0.3), rgba(131, 117, 105, 0.3)), url("https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce468c3930ad26177b2da79_Capture%20d%E2%80%99e%CC%81cran%202019-05-21%20a%CC%80%2023.07.51.png");
background-position: 0 0, 50% 50%;
background-size: auto, 767px;
}

.station-header-content {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: auto;
min-width: 0;
margin-top: 0;
padding: 30px 20px;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
}

.station-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Averia Serif Libre', 'Trebuchet MS', 'Georgia', serif;
    font-size: 18px;
}

.map-detail {
    display: block;
    margin-top: 0;
    padding: 10px 20px 10px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: transparent;
    background-image: url("https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce26c660b5f0b155e266d34_arrow-right-orange.svg");
    background-position: 98% 51%;
    background-size: 6px;
    background-repeat: no-repeat;
    color: #8b481a;
    font-size: 14px;
}

.station-creator {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 0;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.author-image {
    margin-right: 0;
    margin-left: 10px;
    border-style: none;
    border-width: 2px;
    border-color: #fff;
    border-radius: 50px;
}

.station-detail-txt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 25px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #837569;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.station-detail-link {
    color: #2f2826;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
}

/*************************************/

.content.page.stationslist {
border: 1px none #000;
padding-top: 0;
padding-bottom: 0;
}

.content.page.stations {
padding-top: 0;
padding-bottom: 0;
border-top-style: none;
border-left-style: none;
background-color: #f5f0eb;
}

.stations-container {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 100%;
padding-right: 0;
padding-left: 0;
padding-bottom: 0;
background-color: #f5f0eb;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-flex-wrap: nowrap;
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
}

.stations-container.list {
padding-right: 0;
padding-bottom: 0;
padding-left: 0;
}

.stations-header {
    padding: 40px 40px 30px;
}

/****************************/


.heading {
    margin-top: 0;
    font-size: 24px;
    line-height: 30px;
}

.species-list {
    margin-top: 10px;
    background-color: #fff;
}

.species-list-actionbar {
    position: static;
    top: auto;
    z-index: 2000;
    height: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #bcd35f;
    border-bottom-style: none;
    border-radius: 0;
}

.species-list-actionbar.search {
    height: 160px;
    margin-bottom: 0;
    border-radius: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.species-list-actionbar.bottom {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-style: none;
    border-bottom-color: rgba(69, 109, 39, 0.3);
    border-bottom-width: 1px;
    background-color: #bcd35f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 40, 38, 0.1)), to(rgba(47, 40, 38, 0.1)));
    background-image: linear-gradient(180deg, rgba(47, 40, 38, 0.1), rgba(47, 40, 38, 0.1));
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.species-list-title {
    display: none;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: rgba(69, 109, 39, 0.1);
    color: #777;
}

.species-list-title.list {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.species-list-title.search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.tabs-holder.list {
    margin-top: 22px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.text-block-28.not {
    margin-right: 0;
    font-size: 14px;
    line-height: 20px;
    border-bottom-style: solid;
    border-bottom-color: rgba(69, 109, 39, 0.1);
    color: #456d27;
}

.new-species {
position: relative;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 40px;
height: 50px;
margin-right: 20px;
margin-left: 5px;
padding-top: 0;
padding-bottom: 0;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
background-color: transparent;
text-decoration: none;
color: #bcd35f;
}

.new-species.plus {
    display: none;
    width: 40px;
    margin-right: 5px;
}

.new-species.plus.bott {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.icn-large {
    height: 30px;
    width: 20px;
}

.icn-large.up {
    display: none;
}

.species-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px none #000;
    background-color: #f5f0eb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.species-list-item.first {
    background-color: #fff;
}

.species-list-item.last {
    margin-bottom: 0;
    background-color: #fff;
}

.species-img {
    width: 33.333%;
    height: 24vh;
    min-height: 160px;
}

.species-img._1,
.species-img._2,
.species-img._3 {
    width: 100px;
    height: 100px;
    min-height: 80px;
    background-position: 50% 50%;
    background-size: cover;
}

.species-img._1 {
    background-image: url("https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce4551b881a4d39495d7ebc_abricotier-1024x678.jpg");
}

.species-img._2 {
    background-image: url("https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce45563497536c0094bb9ed_amandier.jpg");
}

.species-img._3 {
    background-image: url("https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce4559818ef412a0ac8dc66_bouleau.jpg");
}

.species-item-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    margin-left: 15px;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 15px;
}

.indiv-item-name {
    padding-right: 15px;
    padding-left: 0;
    background-image: url('../assets/right-arrow-orange.svg');
    background-position: 100% 56%;
    background-size: 6px;
    background-repeat: no-repeat;
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
    font-family: 'Averia Serif Libre', 'Trebuchet MS', 'Georgia', serif;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.species-item-stades {
    display: none;
    position: relative;
    z-index: 1000;
    width: 240px;
    margin-right: 20px;
    padding-top: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #837569;
    font-size: 14px;
}

.dernier-stade {
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    font-weight: 600;
}

.species-item-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
    margin-right: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.species-button {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 50px;
    margin-left: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-width: 1px;
    border-style: none;
    border-color: #aaa;
    border-radius: 4px;
    background-color: transparent;
    color: rgba(47, 40, 38, 0);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.species-button.other {
    width: 40px;
    margin-left: 0;
    border-radius: 4px;
    background-color: transparent;
}

/****************************/

.station-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 100%;
    max-width: none;
    min-height: 420px;
    min-width: 200px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(131, 117, 105, 0.1);
    text-decoration: none;
}

.station-card.add {
    height: auto;
    width: 100%;
    max-width: none;
    min-height: 0;
    min-width: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    box-shadow: none;
    background-color: transparent;
}

.add-station-icon {
    display: none;
}

.button.add {
    margin-top: 20px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    background-color: #bcd35f;
    color: #456d27;
    text-align: center;
}

.station-card-header {
    display: none;
    height: 180px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 0;
    background-image: url('../assets/example-bg.png');
    background-position: 50% 50%;
    background-size: 500px;
    background-repeat: no-repeat;
}

.station-card-body {
    padding: 10px 25px 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.card-heading {
    font-family: 'Averia Serif Libre', 'Trebuchet MS', 'Georgia', serif;
    color: #2f2826;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.card-detail {
    padding-left: 25px;
    background-image: url('../assets/pointer.svg');
    background-position: 0 50%;
    background-size: 12px;
    background-repeat: no-repeat;
    color: #837569;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card-detail.type {
    background-image: url('../assets/leaf.svg');
    background-size: 13px;
}

.station-card-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 12px;
    padding-bottom: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #dbdbdb;
}

.station-card-header._1,
.station-card-header._2,
.station-card-header._3,
.station-card-header._4,
.station-card-header._5,
.station-card-header._6 {
    background-size: cover;
}

.station-card-header._1,
.station-card-header._4,
.station-card-header._5,
.station-card-header._6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.station-card-header._2,
.station-card-header._3 {
    display: block;
}

@media screen and ( min-width: 480px ) {
    .station-header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .station-header-map {
        height: 280px;
    }

    .station-header-content {
        padding-top: 40px;
        padding-right: 6%;
        padding-bottom: 0;
        padding-left: 6%;
    }

    .station-title {
        font-size: 28px;
    }

    .station-creator {
        padding-left: 10px;
        border-left-style: none;
        border-top: none;
    }

    .author-image {
        margin-right: 25px;
        margin-left: 0;
    }

    /****************************/

    .stations-container {
        padding-right: 0;
        padding-left: 0;
    }

    /****************************/

    .stations-header {
        padding-bottom: 40px;
    }

    .heading {
        font-size: 30px;
        line-height: 36px;
    }

    .species-list {
        margin-top: 0;
        background-color: transparent;
    }

    .species-list-actionbar {
        height: 80px;
        margin-bottom: 30px;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .species-list-actionbar.search {
        height: 150px;
    }

    .species-list-actionbar.bottom {
        margin-top: 30px;
        border-bottom-style: solid;
        background-image: none;
        font-size: 16px;
        font-weight: 400;
    }

    .tabs-holder.list {
        margin-top: 0;
        padding-bottom: 10px;
    }

    .text-block-28.not {
        margin-right: 40px;
    }

    .new-species {
        width: 50px;
        margin-right: 30px;
        margin-left: 30px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        border-radius: 4px;
        background-color: rgba(47, 40, 38, 0.1);
    }

    .new-species.plus {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-right: 30px;
        width: 50px;
    }

    .icn-large {
        width: 30px;
    }

    .icn-large.up {
        display: inline-block;
    }

    .species-list-item {
        margin-bottom: 10px;
        border-bottom: 1px none #ddd;
        background-color: #fff;
    }

    .species-list-item.first {
        border-bottom-style: none;
    }

    .species-list-item.last {
        margin-bottom: 10px;
    }

    .species-img._1,
    .species-img._2,
    .species-img._3 {
        width: 140px;
        height: 15vh;
        min-height: 120px;
    }

    .species-img._3 {
        height: 140px;
    }

    .species-item-name {
        min-width: 280px;
        padding-left: 40px;
        margin-left: 0;
    }

    .indiv-item-name {
        padding-right: 20px;
        -webkit-transition: padding 200ms ease;
        transition: padding 200ms ease;
        font-size: 22px;
    }

    .species-item-buttons {
        margin-right: 30px;
    }

    .species-button {
        width: 50px;
        margin-left: 5px;
        border-style: none;
        background-color: #e1dcd7;
    }

    .species-button.other {
        width: 50px;
        margin-left: 5px;
        background-color: #eeeae7;
    }

    /****************************/

    .station-card.add {
        width: auto;
        padding-bottom: 0;
    }

    .station-card-header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .card-heading {
        font-size: 26px;
    }

    .station-card-header._2,
    .station-card-header._3 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and ( min-width: 768px ) {
    .station-header-content {
        margin-top: 20px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .station-creator {
        padding: 10px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        border-left: 1px none #ddd;
    }

    /************************/

    .stations-container {
        padding-right: 6%;
        padding-left: 6%;
        padding-bottom: 100px;
    }

    .stations-container.list {
        padding-right: 8%;
        padding-bottom: 100px;
        padding-left: 8%;
    }

    .stations-header {
        padding-top: 60px;
    }

    /****************************/

    .heading {
        font-size: 34px;
    }

    .species-list {
        margin-top: 40px;
    }

    .species-list-actionbar {
        height: 100px;
        padding: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        border: 1px none #000;
        border-radius: 4px;
    }

    .species-list-actionbar.search {
        height: 100px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .species-list-actionbar.bottom {
        margin-top: 60px;
        border-bottom-style: none;
    }

    .species-list-title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 33.333%;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }

    .species-list-title.search {
        padding-left: 20px;
        padding-right: 0;
        padding-top: 0;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .tabs-holder.list {
        padding-bottom: 0;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .new-species {
        width: 100px;
        height: auto;
        margin: 0;
        padding-bottom: 6px;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        border-radius: 0;
    }

    .new-species.plus {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100px;
        margin: 0;
        padding-bottom: 6px;
    }

    .species-list-item {
        margin-bottom: 25px;
        -webkit-box-align: normal;
        -webkit-align-items: normal;
        -ms-flex-align: normal;
        align-items: normal;
    }

    .species-list-item.last {
        margin-bottom: 0;
    }

    .species-img._1,
    .species-img._2,
    .species-img._3 {
        width: 33.333%;
        height: 24vh;
        min-height: 160px;
    }

    .species-item-name {
        font-size: 16px;
    }

    .indiv-item-name {
        font-size: 24px;
    }

    .species-item-buttons {
        margin-right: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }

    .species-button {
        width: 100px;
        margin-left: 0;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        border-style: none;
        border-radius: 0;
    }

    .species-button.other {
        width: 100px;
        margin-left: 0;
        border-radius: 0;
    }

    /***************************/

    .station-card.add {
        box-shadow: 0 2px 3px 0 rgba(131, 117, 105, 0.1);
        background-color: #fff;
        min-height: 420px;
        min-width: 200px;
    }

    .add-station-icon {
        display: inline-block;
        margin-bottom: 30px;
    }

    .card-heading {
        margin-bottom: 10px;
        font-size: 22px;
    }

}

@media screen and ( min-width: 992px ) {
    .station-header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        background-color: #e7e2dc;
    }

    .station-header-map {
        width: 33.333333%;
        height: auto;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }

    .station-header-content {
        min-width: 500px;
        padding: 40px;
        margin-top: 0;
    }

    .station-title {
        font-size: 32px;
    }

    .station-creator {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    /**********************************/

    .content.page.stationslist,
    .content.page.stations {
    border-top: 1px solid #f7ebdf;
    border-left: 1px solid #f7ebdf;
    }

    .stations-container {
        padding-right: 8%;
        padding-left: 8%;
    }

    /****************************/

    .heading {
        margin-top: 10px;
    }

    .species-list {
        margin-top: 60px;
    }

    .species-list-actionbar {
        height: 100px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .species-list-title {
        padding-left: 40px;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }

    .species-list-title.search {
        padding-left: 40px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .text-block-28.not {
        line-height: 25px;
    }

    .new-species {
        width: 120px;
    }

    .species-button,
    .species-button.other {
        width: 120px;
    }

    /****************************/

    .station-card {
        width: auto;
    }

    .species-item-stades {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

}
