/************************************/
/* stations members in cards footer */
/************************************/
.members-number {
    color: #5fbcd3;

    @include pre-text-icon;
}


.member-avatar-sm {
    @extend %display-flex;
    @extend %justify-content-center;
    @extend %align-items-center;
    @extend %align-self-auto;

    @extend %member-avatar-sm;
    margin-right: -8px;
    background-color: grey(52);

    &.more-members {
        @extend %align-self-center;

        margin-right: 0;
        margin-left: -1px;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        background-image: none;
        background-color: $green;
    }
}
