{% extends 'base.html.twig' %}

{% block main_content %}

    <dl>
        {% for staticPageSlug, staticPageTitle in staticPagesList %}
            {% if staticPageSlug in constant('App\\Service\\BreadcrumbsGenerator::EDITABLE_PAGES') %}
            <dt>
                <a href="{{ path(staticPageSlug) }}">
                    {{ staticPageTitle }}
                </a>
            </dt>
            <dd>
                <a href="{{ path('admin_static_page_edit', {slug: staticPageSlug}) }}">
                    Éditeur WYSIWYG
                </a>
            </dd>
            <dd>
                <a href="{{ path('admin_static_page_edit', {slug: staticPageSlug, mode: 'html'}) }}">
                    Éditeur HTML
                </a>
            </dd>
            {% endif %}
        {% endfor %}
    </dl>

{% endblock %}

{% block title %}Liste des fiches espèces{% endblock %}

