{% extends 'base.html.twig' %}

{% block main_content %}
    <ul>
        <li>email (pseudo : nom)</li>
        {% for user in users %}
            <li>
                <a href="{{ path('admin_user_dashboard', {userId:user.id}) }}">
                    {{ user.email }} ({{ user.displayName}} : {{ user.name }})
                </a>
            </li>
        {% else %}
            <li>Pas d’utilisateurs</li>
        {% endfor %}
    </ul>
{% endblock %}

