{% extends 'base.html.twig' %}

{% block main_content %}
    {% if users is not empty %}
        <ul>
            {% for user in users %}
                <li>
                    <a href="{{ path('admin_user_dashboard', {userId:user.id}) }}">
                        {{ user.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Pas d'utilisateurs</p>
    {% endif %}
{% endblock %}

