{% extends 'forms/post/post-form.html.twig' %}

{% block post_fields %}
    <div class="_2-col-form">
        {#
            On safari input type date renders input type text
            in this case french user provided date format would be dd/mm/yyyy
        #}
        {{ form_row(form.startDate, {
            'row_attr': {'class': 'form-col small'},
            'label': 'Date de début *',
            'attr': {
                'class': 'text-field ods-input date',
                'data-name': 'date',
            }
        }) }}
        {{ form_row(form.endDate, {
            'row_attr': {'class': 'form-col small ml'},
            'label': 'Date de fin',
            'attr': {
                'class': 'text-field ods-input date',
                'min': "now"|date('Y-m-d'),
                'data-name': 'date',
            }
        }) }}
    </div>
    {{ form_row(form.location, {
        'row_attr': {'class': 'form-col search-container'},
        'label': 'Localisez votre évènement *',
        'attr': {
            'class': 'ods-places',
            'data-name': 'location',
            'placeholder': 'Entrez une adresse ici...'
        }
    }) }}
{% endblock %}