{% extends 'pages/post/event-post-single.html.twig' %}

{% block post_header %}
	<div class="post-header">
		{% include 'layout/header.html.twig' with ({
			'title': 'Prévisulisation de votre évènement',
			'subtitle': 'Après avoir relu votre évènement vous pouvez le publier, le modifier ou le supprimer'
		}) %}
	</div>
{% endblock %}

{% block post_footer %}
	<div class="post-footer">
		<a class="button bt-form bt-supprimer delete-button" href="{{ path('post_delete', {postId:post.id}) }}">
			Supprimer
		</a>
		<a id="cancel" href="{{ path('event_post_edit', {postId:post.id}) }}" class="button bt-form bt-cancel">
			Modifier
		</a>
		<a href="{{ path('post_publish', {postId:post.id}) }}" class="button bt-form bt-valider">
			{% if is_granted('ROLE_RELAY') %}
				Publier
			{% else %}
				Soumettre à validation
			{% endif %}
		</a>
	</div>
{% endblock %}


