{% extends 'forms/base.html.twig' %}
{% block form_title%}Modifier le mot de passe{% endblock %}

{% block form %}
<div class="_2-col-form has-label-side">
    <a href="{{ path('user_forgotten_password') }}" class="label-side-link">Mot de passe oublié ?</a>
    {{ form_row(form.password, {
    'row_attr': {'class': 'form-col'},
    'label': 'Mot de passe actuel *',
    'attr': {
        'autocomplete': 'new-password',
        'class': 'text-field ods-input',
        'max': '255',
        'data-name': 'password'
    }
    }) }}
</div>
<div class="_2-col-form">
    {{ form_row(form.password_new, {
        'row_attr': {'class': 'form-col'},
        'label': 'Nouveau mot de passe *',
        'attr': {
            'autocomplete': 'new-password',
            'class': 'text-field ods-input',
            'max': '255',
            'data-name': 'password_new'
        }
    }) }}
</div>
<div class="_2-col-form">
    {{ form_row(form.password_confirm, {
        'row_attr': {'class': 'form-col'},
        'label': 'Confirmation du mot de passe *',
        'attr': {
            'autocomplete': 'new-password',
            'class': 'text-field ods-input',
            'max': '255',
            'data-name': 'password_confirm'
        }
    }) }}
</div>

{% endblock %}

{% block form_javascript %}{% endblock %}