$base_font_size: 16px !default;

.bg-primary {
    background-color: $green !important;
}

.bg-secondary {
    background-color: $green725760 !important;
}

.text-primary {
    color: $green !important;
}

.text-secondary {
    color: $green725760 !important;
}

html.ods-mod-touch * {
    background-attachment: scroll !important;
}

body {
    @include font_default;
    color: $grey181217;
    font-size: $base_font_size;
    line-height: 25px;
    min-height: 100%;
    background-color: #fff;
}

a {
    text-decoration: underline;
}

a:hover {
    color: $grey131117;
}

blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}

table {
    width: 100%;
    height: 100%;
    border: 1px double #b3b3b3;

    th {
        font-weight: 700;
        background: $blue;
        color: #fff;
    }

    th, td {
        min-width: 2em;
        padding: .4em;
        border: 1px solid #bfbfbf;
    }
}
