{% extends 'pages/static-page.html.twig' %}

{% set title = 'Outils & Ressources' %}
{% set subtitle =
    "Tous les <a href=#{path('outils')}><strong>outils</strong></a> et <a href=#{path('ressources-pedagogiques')}><strong>ressources pédagogiques</strong></a> autour du programme et de la phénologie.<br>
    Accédez directement aux activités pratiques et ressources pour les professionnel-le-s de l’enseignement et de l'éducation à la nature."
%}
