{% extends 'pages/static-page.html.twig' %}

{% set title = 'Participer' %}
{% set subtitle =
    "Les clés pour participer au programme de l’Observatoire des Saisons : <strong>protocole</strong> et <strong>outils</strong>.<br>
    Étape suivante : accéder aux <a href=#{path('especes')}><strong>espèces à observer</strong></a>."
%}
