{% extends 'pages/static-page.html.twig' %}

{% set title = 'Participer' %}
{% set subtitle =
    "Les clés pour participer au programme de l’Observatoire des saisons : <a href=#{path('participer')}#protocole>protocole</a> et <a href=#{path('participer')}#outils>outils</a>.<br>
    Étape suivante : accéder aux <a href=#{path('especes')}>espèces à observer</a>."
%}
