{% extends 'pages/static-page.html.twig' %}

{% set title = 'Participer' %}
{% set subtitle =
    "Les clés pour participer au programme de l’Observatoire des Saisons : <a href=#{path('participer')}#protocole><strong>protocole</strong></a> et <a href=#{path('participer')}#outils><strong>outils</strong></a>.<br>
    Étape suivante : accéder aux <a href=#{path('especes')}><strong>espèces à observer</strong></a>."
%}
