/*****************************************/
/* Links
/*************************************** */
.green-link {
  @include green-text-semi-bold;
  font-size: 16px;
  &.small {
    font-size: 14px;
  }
}
/******************************************/
/*               buttons                  */
/******************************************/
$button-color-map: (
  normal: (
    background-color: $green715559,
    color: grey(20)
  ),
  add: (
    background-color: $green725760,
    color: $green
  ),
  cancel: (
    background-color: #eee9e4,
    color: $grey131117
  )
);


@mixin button-colors($type) {
  $properties: map_get($button-color-map, $type);
  background-color: map_get($properties, background-color);
  color: map_get($properties, color);
}

@mixin button-flex {
  @include display-flex;
  @include justify-content-center;
}

.button {
  display: inline-block;
  padding: 9px 20px;
  border-radius: 4px;
  border: 0;

  @include font_default_semi_bold;
  @include button-colors(normal);
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: inherit;
  text-decoration: none;
  text-transform: uppercase;
  @include pointer;

  &.bt-add {
    @include align-self-stretch;

    margin-top: 20px;

    @include button-colors(add);
    text-align: center;
  }

  @mixin bt-fixed-on-sm {
    @include button-flex;

    max-width: 100%;
    border-radius: 0;
    font-size: 15px;
    letter-spacing: 1px;
  }

  &.bt-form {
    @include bt-fixed-on-sm;

    @include gap(padding, "v", 16px);

    @include media(sm) {
      border-radius: 4px;

      @include gap(padding, "v", 12px);
    }

    &.bt-annuler {
      @include flex(0, 1, 35%);

      @include button-colors(cancel);

      @include media(sm) {
        margin-right: 10px;
        background-color: rgba($grey131117, 0.2);
      }
    }

    &.bt-valider {
      @include flex-1;

      @include button-colors(add);

      @include media(sm) {
        margin-left: 10px;
      }
    }
  }

  &.bt-open-form {
    @include position(fixed, auto, 0, 0, 0);

    @include bt-fixed-on-sm;

    @include align-items-center;

    @include gap(padding, "v", 22px);

    box-shadow: 1px 1px 8px 0 grey(0, 0.1);

    @include button-colors(add);

    @include media(md) {
      @include gap(padding, "v", 24px);
    }

    @include media(lg) {
      display: none;
    }
  }
}
/**********************************************/
/* BUTTONS SQUARED
/**********************************************/
@mixin button-flex-align-items-center {
  @include button-flex;
  @include align-items-center;
}

@mixin squared-button-style($media-query) {
  @if $media-query == xs {
    @include background-image(null, 50% 50%, 20px 30px);
    position: relative;
    width: 40px;
    height: 50px;
    max-width: 100%;
    text-decoration: none;
  } @else if $media-query == sm {
    width: 50px;
    background-size: 30px;
  } @else if $media-query == md {
    width: 100px;
    margin-left: 0;
    border-radius: 0;
  } @else if $media-query == lg {
    width: 120px;
  }
}

@mixin squared-buttons-container($media-query) {
  $margin-values: (xs: 5px, sm: 30px, md: 0);
  @if $media-query == xs {
    @include button-flex-align-items-center;
  }
  margin-right: map_get($margin-values, $media-query);
}

/**********************************************/
/* BUTTONS SQUARED ACTIONBAR
/**********************************************/
.squared-button {
  @include squared-buttons-container(xs);
  @include squared-button-style(xs);
  margin-left: 5px;
  @include gap(padding, "v");
  color: $green725760;

  @include media(sm) {
    @include squared-buttons-container(sm);
    @include squared-button-style(sm);
    @include align-self-center;
    margin-left: 30px;
    border-radius: 4px;
    background-color: $grey131117_a1;
  }

  @include media(md) {
    @include squared-buttons-container(md);
    @include squared-button-style(md);
    @include align-self-stretch;
    height: auto;
    padding-bottom: 6px;
  }

  @include media(lg) {
    @include squared-button-style(lg);
  }

  @include media(xs, sm) {
    &.hide-on-xs{
      display: none;
    }
  }
}


/**********************************************/
/* BUTTONS SQUARED lIST-CARDS
/**********************************************/
.dual-squared-buttons-container {
  @include squared-buttons-container(xs);
  @include flex-direction-row;

  @include media(sm) {
    @include squared-buttons-container(sm);
  }

  @include media(md) {
    @include flex-direction-column;
    @include squared-buttons-container(md);
  }
}

.dual-squared-button {
  @include button-flex-align-items-center;
  @include squared-button-style(xs);
  @include align-self-stretch;

  margin-left: 10px;
  border-radius: 4px;
  color: rgba($grey131117, 0);
  font-size: 14px;
  font-weight: 700;

  @include media(sm) {
    @include squared-button-style(sm);
    margin-left: 5px;
    background-color: #e1dcd7;
  }

  @include media(md) {
    @include flex-1;
    @include squared-button-style(md);
  }

  @include media(lg) {
    @include squared-button-style(lg);
  }

  &.other {
    @include media(xs,sm) {
      margin-left: 0;
    }

    @include media(sm) {
      background-size: 27px;
      background-color: #eeeae7;
    }
  }
}

/**********************************************/
/* BUTTONS SQUARED LABELS
/**********************************************/
.squared-button-label {
  @extend %hide;

  @include media(md) {
    @include position(absolute, 0, 0, 0, 0);
    @include button-flex-align-items-center;
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;

    @include font_default_semi_bold;
    color: $grey281146;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #e4dfda;
    border-radius: 1px;
  }

  &:hover {
    opacity: 1;
  }

  &.green {
    background-color: #aec15a;
    @include green-text-semi-bold;
  }
}


