%list-cards-height {
    height: 100px;
    min-height: 80px;

    @include media(sm) {
        height: 15vh;
        min-height: 120px;
    }

    @include media(md) {
        height: 24vh;
        min-height: 160px;
    }
}

.list-cards-item {
    @extend %display-flex;
    @extend %flex-direction-row;
    @extend %align-items-center;
    @extend %list-cards-height;

    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(#000, 0.1);
    overflow: hidden;

    @include media(xs,sm) {
        &:nth-child(odd) {
            background-color: $grey303394;
        }
    }
    @include media(sm) {
        margin-bottom: 10px;

    }

    @include media(md) {
        @include align-items(normal);
        margin-bottom: 25px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &-add {
        @extend .list-cards-item;
        @include media(xs,lg) {
            display: none;
        }
    }
}

.list-card-img {
    width: 100px;
    @extend %list-cards-height;
    background-size: cover;

    @include media(sm) {
        width: 140px;
    }

    @include media(md) {
        width: $third-pc * 1%;
    }
}

.item-name-block {
    @extend %display-flex-column;
    @extend %justify-content-center;
    @extend %align-items-flex-start;
    @extend %flex-1;

    min-width: 0;
    padding-left: 0;
    margin-left: 15px;
    font-size: 15px;

    @include media(sm) {
        min-width: 280px;
        padding-left: 40px;
        margin-left: 0;
    }

    @include media(md) {
        font-size: 16px;
    }
}

.item-heading-dropdown {
    padding-right: 15px;
    padding-left: 0;
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;

    @include background-image(null, 100% 56%, 6px);

    @include font_title_bold;
    color: grey(20);
    font-size: 16px;
    text-decoration: none;


    @include media(sm) {
        padding-right: 20px;
        -webkit-transition: padding 200ms ease;
        transition: padding 200ms ease;
        font-size: 22px;
    }

    @include media(md) {
        font-size: 24px;
    }

    &.right-arrow-orange-icon:hover {
        @include media(sm) {
            padding-right: 30px;
        }
    }

    &.down-arrow-icon {
        background-size: 10px;

        @include media(md) {
            background-size: 12px;
        }
    }
}

.item-name {
    @extend %hide;

    margin-top: 5px;
    color: $grey281146;
    font-size: 14px;
    line-height: 18px;

    @include media(sm) {
        display: block;
    }

    &.pointer-orange-icon {
        @include background-image(null, 0 50%, 12px);
        padding-left: 18px;
    }
}

.item-details {
    position: relative;
    z-index: 1000;

    @extend %hide;

    width: 240px;
    padding-left: 20px;
    margin-right: 20px;
    color: $grey281146;
    font-size: 14px;

    @include media(lg) {
        @include display-flex;
        @include flex-direction-column;
        @include justify-content-center;
        @include flex-1;
    }

    &.flex-none {
        @extend %flex-none;
    }

    .grey {
        margin-bottom: 5px;

        @include font_default_semi_bold;
        line-height: 20px;
    }

    .bolder {
        color: $grey131117;
        @include font_default_semi_bold;
    }
}

.add-list-card {
    @include display-flex;
    @include flex-direction-column;
    @include justify-content-center;
    @include flex-1;
    padding: 20px 40px;

    .icon-add-list-card {
        @include background-image(null, center, 50px);
        color: #bcd35f;
        @include square-block(100%);
        margin-bottom: 5px;
    }

}

