{% extends 'base.html.twig' %}

{% block content %}
			{% include 'components/app-flashes.html.twig' %}
			<div>Bienvenue !</div>
			<div>{{ 'Bonjour %s,'|format(app.user.displayName) }}</div>
			<div>Des infos, des obs, toussa</div>
			<div>
				<div>Mes observations</div>
				<ul>
				</ul>
				<div>Mes stations</div>
				<ul>
				</ul>
			</div>
{% endblock %}
