{% extends 'base.html.twig' %}
{% block main_content %}
	{% include 'layout/header.html.twig' with ({
	 'title': 'Mot de passe oublié',
	 'subtitle': 'Merci de renseigner votre adresse de messagerie.
			Vous recevrez un e-mail vous permettant de réinitialiser votre mot de passe.'
	}) %}

	<div class="saisie-container page">
		<div class="saisie ods-form">
			<form method="post">
				<div class="form-col">
					<label for="password-form-email">Adresse e-mail</label>
					<input id="password-form-email" type="email" name="email" class="text-field ods-input" placeholder="Entrez votre adresse e-mail ici…" required autofocus>
				</div>

				<div class="saisie-footer">
					<a id="cancel" href="{{ path('user_dashboard') }}" class="button bt-form bt-cancel">Annuler</a>
					<button type="submit" class="button bt-form bt-valider">
						Valider
					</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
