{% extends 'base.html.twig' %}
{% block main_content %}
	{% include 'layout/header.html.twig' with ({
		'title': 'Nouveau mot de passe',
		'subtitle': 'Merci de renseigner votre nouveau mot de passe.'
	}) %}

	<div class="saisie-container">
		<div class="saisie ods-form">
			<form method="post">
				<div class="form-col">
					<label for="reset-form-password">Mot de passe</label>
					<input id="reset-form-password" type="password" name="password" class="text-field ods-input" placeholder="Entrez votre mot de passe ici…" required>
				</div>

				<div class="saisie-footer">
					<input type="hidden" name="token" value="{token}">
					<a id="cancel" href="{{ path('user_dashboard') }}" class="button bt-form bt-cancel">Annuler</a>
					<button type="submit" class="button bt-form bt-valider">
						Modifier
					</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
