{% extends 'base.html.twig' %}

{% block main %}
	<section class="main main__user-page main__user-page__password">
		<div class="main--content content-container">
			{% include 'components/app-flashes.html.twig' %}
			<form method="post">
				<h1 class="h3">Nouveau mot de passe</h1>

				<div class="form-row form-row__field">
					<label for="reset-form-password">Mot de passe</label>
					<input id="reset-form-password" type="password" name="password" placeholder="Entrez votre mot de passe ici…" required>
				</div>
				<div class="form-row form-row__submit">
					<input type="hidden" name="token" value="{token}">
					<button type="submit">Modifier</button>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
