{% extends 'base.html.twig' %}

{% block content %}
	<section class="main main__user-page main__user-page__password">
		<div class="main--content content-container">
			<form method="post">
				<h1 class="h3">Mot de passe oublié</h1>

				<div class="form-row form-row__field">
					<label for="password-form-email">Adresse e-mail</label>
					<input id="password-form-email" type="email" name="email" placeholder="Entrez votre adresse e-mail ici…" required autofocus>
				</div>

				<div class="form-row form-row__submit">
					<button type="submit">Envoyer</button>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
