.actionbar {
    @extend %display-flex;
    @extend %justify-content-center;
    @extend %flex-wrap-nowrap;
    @extend %align-items-center;

    height: 70px;
    background-color: $green725760;

    @include media(sm) {
        @include flex-direction-row;
        @include justify-content-space-between;
        @include align-items-stretch;

        height: 80px;
        margin-bottom: 30px;
    }

    @include media(md) {
        @include  align-items-flex-start;

        height: 100px;
        border-radius: 4px;
    }

    @include media(lg) {
        @include align-items-center;
    }

    &.search {
        @extend %flex-direction-column;

        height: 160px;

        @include media(sm) {
            height: 150px;
            margin-bottom: 0;
        }

        @include media(md) {
            @include flex-direction-row;

            height: 100px;
        }

        &.right {
            @include media(xs, md) {
                @include flex-direction-column-reverse;
            }
        }
    }

    &.bottom {
        @extend %flex-direction-row;
        @extend %justify-content-space-between;
        @extend %align-items-center;

        font-size: 14px;
        font-weight: 600;

        @include media(sm) {
            margin-bottom: 0;
            margin-top: 30px;
            border-bottom: 1px solid rgba($green, 0.3);
            font-size: 16px;
            font-weight: 400;
        }

        @include media(md) {
            margin-top: 60px;
            border-bottom-style: none;
        }
    }
}

.actionbar-list-block {
    @extend %hide;

    @extend %flex-direction-row;
    @extend %justify-content-center;
    @extend %align-items-center;
    @extend %align-self-stretch;

    width: 100%;
    background-color: rgba($green, 0.1);
    color: grey(47);

    @include media(md) {
        @include display-flex;

        width: $third-pc * 1%;
    }

    @include media(lg) {
        @include align-items-stretch;
        justify-content: flex-start;

        padding-left: 40px;
    }

    &.search {
        @extend %display-flex;

        padding-top: 20px;
        @include gap(padding, "h", 30px);

        @include media(md) {
            @include flex-auto;

            @include gap(padding, (top, right));
            padding-left: 20px;
        }

        @include media(lg) {
            @include flex-1;

            padding-left: 40px;
        }
    }
}

.actionbar-title {
    @extend %align-self-center;

    @include font_title;
    color: $grey131117;
    font-size: 21px;

    @include media(lg) {
        font-size: 24px;
    }
}

.tabs-holder{
    @extend %display-flex;
    @extend %justify-content-center;
    @extend %align-items-center;
    @extend %align-self-stretch;
    @extend %flex-1;

    @include media(sm){
        padding-left: 40px;
    }

    &.list {
        @extend %flex-initial;

        margin-top: 22px;
        padding-bottom: 20px;

        @include media(sm) {
            margin-top: 0;
            padding-bottom: 10px;
        }

        @include media(md) {
            @include justify-content-flex-end;

            padding-bottom: 0;
        }
    }
}

.tab,
.station-tab {
    @extend %display-flex;
    @extend %align-items-center;
    @extend %align-self-center;

    padding-bottom: 5px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid $green;
    color: $grey131117;
    @include pointer;
    text-decoration: none;

    @include media(sm) {
        margin-right: 40px;
        font-weight: 400;
    }

    @include media(lg) {
        line-height: 25px;
    }

    &.not {
        margin-right: 0;
        border-bottom-color: rgba($green, 0.1);
        @include green-text-semi-bold;

        @include media(sm) {
            margin-right: 40px;
        }
    }
}
