/*****************************************/
/* Links
/*************************************** */
.green-link {
  @include green-text-semi-bold;

  &.small {
    font-size: 14px;
  }
}

.deep-green-link {
  @extend .green-link;
  color: $green965120;
}
/******************************************/
/*               buttons                  */
/******************************************/
$button-color-map: (
  normal: (
    background-color: $green715559,
    color: grey(20)
  ),
  add: (
    background-color: $green725760,
    color: $green
  ),
  cancel: (
    background-color: #eee9e4,
    color: $grey131117
  ),
  delete: (
      background-color:$red,
      color: $grey301486
  )
);

@mixin button-colors($type) {
  $properties: map_get($button-color-map, $type);
  background-color: map_get($properties, background-color);
  color: map_get($properties, color);
}

.button {
  display: inline-block;
  padding: 9px 20px;
  border-radius: 4px;
  border: 0;

  @include font_default_semi_bold;
  @include button-colors(normal);
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: inherit;
  text-decoration: none;
  text-transform: uppercase;
  @include pointer;

  &.bt-add {
    @include align-self-stretch;

    margin-top: 20px;

    @include button-colors(add);
    text-align: center;

    &.orange {
      background-color: $orange;
      color: $grey181217;
    }
  }

  @mixin bt-fixed-on-sm {
    @include display-flex-justify-content-center;

    max-width: 100%;
    border-radius: 0;
    font-size: 15px;
    letter-spacing: 1px;
  }

  &.bt-form {
    @include bt-fixed-on-sm;

    @include gap(padding, "v", 16px);

    @include media(sm) {
      border-radius: 4px;

      @include gap(padding, "v", 12px);
    }

    &.bt-cancel {
      @include flex(0, 1, 35%);

      @include button-colors(cancel);

      @include media(sm) {
        margin-right: 10px;
        background-color: rgba($grey131117, 0.2);
      }
    }

    &.bt-valider {
      @include flex-1;

      @include button-colors(add);

      @include media(sm) {
        margin-left: 10px;
      }
    }

    &.bt-supprimer {
      /*@include flex-1;*/
      padding: 12px;

      @include button-colors(delete);

      @include media(sm) {
        margin-right: 20px;
      }
    }
  }

  &.bt-open-form {
    @include position(fixed, auto, 0, 0, 0);

    @include bt-fixed-on-sm;

    @include align-items-center;

    @include gap(padding, "v", 22px);

    box-shadow: 1px 1px 8px 0 grey(0, 0.1);

    @include button-colors(add);

    @include media(md) {
      @include gap(padding, "v", 24px);
    }

    @include media(lg) {
      display: none;
    }
  }
}

/**********************************************/
/* BUTTONS SQUARED ACTIONBAR
/**********************************************/
.squared-button {
  @include squared-block-container(xs);
  @include squared-block-style(xs);
  margin-left: 5px;
  @include gap(padding, "v");
  color: $green725760;

  @include media(sm) {
    @include squared-block-container(sm);
    @include squared-block-style(sm);
    @include align-self-center;
    margin-left: 30px;
    border-radius: 4px;
    background-color: $grey131117_a1;
  }

  @include media(md) {
    @include squared-block-container(md);
    @include squared-block-style(md);
    @include align-self-stretch;
    height: auto;
    padding-bottom: 6px;
  }

  @include media(lg) {
    @include squared-block-style(lg);
  }

  @include media(xs, sm) {
    &.hide-on-xs{
      display: none;
    }
  }
}

.squared-button-like {
  position: relative;
  @include align-self-stretch;
  @include square-block(84px);
  max-width: 100%;
  padding-top: 6px;
  margin-right: 0;
  margin-left: 2px;
  text-decoration: none;
  outline: none;

  @include button-colors(cancel);
  @include background-image(null, 50% 50%, 20px 30px);

  @include media(sm) {
    background-size: 30px;
  }
}


/**********************************************/
/* BUTTONS SQUARED lIST-CARDS
/**********************************************/
.dual-squared-button {
  @include dual-block;
  color: rgba($grey131117, 0);

  @include media(sm) {
    background-color: #e1dcd7;
  }


  &:last-child {
    @include media(sm) {
      background-color: #eeeae7;
    }
  }
}

/**********************************************/
/* BUTTONS SQUARED LABELS
/**********************************************/
.squared-button-label {
  @include squared-block-label;

  @include media(md) {
    color: $grey281146;
    background-color: $grey301687;
  }
}

/**********************************************/
/* SQUARED BLOCKS EVENTS
/**********************************************/

.event-date {
  @include dual-block;
  background-color: $orange;
  color: #fff;
  text-align: center;
  border-radius: 0;
  line-height: 15px;

  @include media(xs,md) {
    margin-left: 20px;
    font-size: 10px;
  }

  &.last {
    background-color: rgba($orange, 0.7);

    @include media(xs,md) {
      margin-left: 0;
    }

    &::before{
      @include position(absolute, 0, auto, auto, 50%);
      content: "";
      @include square-block(0);
      @include border('h', transparent, solid, 10px);
      border-top: 10px solid $orange;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);

      @include media(xs,md) {
        left: 0;
        top: 50%;
        border-top-width: 8px;
        border-top-color: transparent;
        border-bottom-width: 8px;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        border-left-width: 8px;
        border-left-color: #ff7f2a;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  &:only-child {
    @include media(xs,sm) {
      width: 80px;
    }

    @include media(sm,md) {
      width: 100px;
    }

    @include media(xs,md) {
      margin-left: 20px;
    }
  }
}

/**********************************************/
/* FULL BLOCK WIDTH BUTTON
/**********************************************/

.full-block-width-button {
  @include position(absolute, auto, 0, 0, 0);
  @include display-flex;
  @include justify-content-flex-start;
  @include align-items-center;
  @include align-self-flex-start;
  height: 90px;
  @include gap(margin, "h");
  padding-left: 40px;
  border-top: 1px none #47423f;
  background-color: $green715560;

  &.orange {
    background-color: #e7803a;
  }
}

.full-block-width-button-link {
  background-color: transparent;
  color: $grey181217;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;

  &.fonce {
    color: #2b2523;
    font-size: 14px;
  }
}

/**********************************************/
/* NAV-ARROW-BUTTONS
/**********************************************/

.nav-arrow-buttons {
  @include position(absolute, 0, 0);
  @include display-flex;
}

.nav-arrow {
  @include display-flex;
  @include justify-content-center;
  @include align-items-center;
  @include square-block(60px);
  max-width: 100%;
  margin-left: 0;
  border-left: 1px solid #5a514d;
  background-color: transparent;

  &.light {
    border-left-color: #c5b3a4;
  }

  &.no-border{
    border-left-color: transparent;
  }
}

.inactive {
  pointer-events: none;

  img {
    opacity: 0.3;
    -webkit-filter: saturate(20%);
    filter: saturate(20%);
  }
}

.ods-form .show-on-edit {
  display: none;
}
.edit .ods-form  .show-on-edit {
  display: inline-block;
}


