.admin-card{
    //background-color: $green725760;
    color: $green;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 0 10px 0;
    width: 23%;
    border-radius: 20px;
}

.card-link {
    color: $green;
}

.card-link:hover {
    color: $green725760;
}

.card-head {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    background-color: $green;
    color: $grey303394;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.admin-card-body {
    padding: 10px 0;
}

.row>* {
    padding: 0;
}

#admin-table {
    th {
        color: $green;
        max-width: 250px;
        overflow: auto;
    }

    a{
        color: $green;
        font-weight: bold;
    }

    td {
        max-width: 250px;
        overflow: auto;
    }
}

.admin-species-type {
    background-color: $green725760;
    width: 100%;
    border-radius: 20px;
}

.admin-card-stats{
    background-color: #fff;
    color: $grey281146;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 0 10px 0;
    border-radius: 20px;
    height: 150px;

    @include media(xs, sm) {
        height: 150px;
    }

    @include media(sm, md) {
        height: 150px;
    }
}

.admin-card-stats-table{
    background-color: #fff;
    color: $grey281146;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 0 10px 0;
    border-radius: 20px;
    min-height: 100px;

    @include media(xs, sm) {
        height: 150px;
    }

    @include media(sm, md) {
        height: 150px;
    }
}

.admin-chiffre-card-body {
    color: $grey281146;
    padding: 20px 20px 0 20px;
}

.td-mail {
    overflow: hidden;
    white-space: nowrap; /* Keeps the text on a single line and uses ellipsis when it overflows */
}

.non-wrapping {
    white-space: nowrap;  // Prevents wrapping of content within the element
    overflow: hidden;     // Keeps the content from spilling out
    text-overflow: ellipsis; // Adds an ellipsis if the content is too long to fit
}