@mixin simple-calendar-grid-blocks($column-start, $column-end, $row-start, $row-end) {
    .grid_#{$column-start}-#{$column-end}_#{$row-start}-#{$row-end} {
        @if($column-start != 1) {
            grid-column-start: $column-start*10;
        }
        @else {
            grid-column-start: $column-start;
        }
        grid-column-end: $column-end*10;
        grid-row-start: $row-start;
        grid-row-end: $row-end;
    }
}

@mixin calendar-grid-blocks($fixed-direction, $fixed-digits, $first, $last) {
    @if $fixed-direction == 'row' {
        @for $i from $first through ($last - 1) {
            @include simple-calendar-grid-blocks($i, $i + 1, nth($fixed-digits,1), nth($fixed-digits,2));
        }
    }
    @else {
        @for $i from $first through ($last - 1) {
             @include simple-calendar-grid-blocks(nth($fixed-digits,1), nth($fixed-digits,2), $i, $i + 1);
        }
    }
}

/**************************************************/
/* dropdown */
@include simple-calendar-grid-blocks(1, 3, 1, 2);
/* month */
@include calendar-grid-blocks('row', (1,2), 3, 15);

/* table-intitule-stage */
@include calendar-grid-blocks('colomn', (1,3), 1, 8);
/* table-row */
@include calendar-grid-blocks('colomn', (3,15), 1, 8);

/* table-colomn */
@for $i from 2 through 8 {
    @include calendar-grid-blocks('row', (1, $i), 3, 15);
}

/**************************************************/
.periods-calendar {
    @include media(sm,md) {
        margin-top: -10px;
    }
}

@mixin hide_on_small {
    @include media(xs,md) {
        display: none;
    }
}

.table-container {
    @include media(md) {
        margin-bottom: 30px;
        border-bottom: 1px solid grey(87);
        background-color: #fff;
    }
}

.species-table-container {
    @include media(md) {
        margin-bottom: 30px;
        border-bottom: 1px solid grey(87);
        //background-color: #fff;
    }
}

.species-calendar {
    padding: 0 50px;
    background-color: #f5f0eb;
    margin-top: -70px;
}

.calendar-title{
    display: flex;
    justify-content: center;
}

.grid {
    @include media(md) {
        @include display-grid;
        grid-auto-columns: 1fr;
        @include grid-template-columns(grid-repeat(140, 1fr));
    }

    &.top {
        @include media(md) {
            @include grid-template-rows(60px);
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
    }

    &.content {
        @include media(md) {
            @for $i from 1 through 7 {
                &-#{$i} {
                    @include grid-template-rows(grid-repeat($i, 50px));
                }
            }
        }
    }
}

.gridSpe {
    @include media(xs) {
        @include display-grid;
        grid-auto-columns: 1fr;
        @include grid-template-columns(grid-repeat(140, 1fr));
    }

    &.top {
        @include media(xs) {
            @include grid-template-rows(60px);
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
    }

    &.content {
        @include media(xs) {
            @for $i from 1 through 7 {
                &-#{$i} {
                    @include grid-template-rows(grid-repeat($i, 50px));
                }
            }
        }
    }
}

/**************************************************/
@mixin individu-block {
    @include justify-content-space-between;
    height: 60px;
    background-color: $green725760;
}
.individu-header {
    @include display-flex;
    @include justify-content-center;
    @include align-items-center;
    background-color: rgba(188, 211, 95, 0.2);

    @include media(sm) {
        background-color: transparent;
        @include border('v', grey(87));
    }

    @include media(md){
        @include individu-block;
        font-size: 16px;
        border-style: none;
    }
}

.individu-footer {
    @include display-flex;
    @include justify-content-center;
    @include align-items-center;
    background-color: #cde275;

    @include media(md) {
        @include individu-block;
        @include flex-direction-row;
        @include align-self-stretch;
        padding: 0;
    }
}

.individu-name {
    color: $grey131117;
    @include font_default_semi_bold;
    font-size: 12px;
    letter-spacing: 1px;

    @include media(sm) {
        margin-right: 5px;
        font-size: 14px;
        font-weight: 400;
    }

    @include media(md) {
        margin-left: 10px;
        @include font-title-bold;
        font-size: 18px;
    }
}

.table-action {
    @include display-flex;
    @include align-items-center;
    max-width: 100%;
    height: 100%;
    @include gap(padding, "h", 20px);
    color: $green;
    @include font_default_semi_bold;
    font-size: 14px;
    text-decoration: none;

    @include hide_on_small;

    &.add {
        @include display-flex;
        @include gap(padding, "v", 20px);
        padding-right: 0;

        @include media(md) {
            @include gap(padding, "v", 0);
        }
    }
}

.add-button-like {
    @include display-flex-center;
    @include align-self-stretch;
    width: 64px;//paddings-right/left + background-size
    @include gap(padding, "h", 20px);
    margin-left: 20px;
    @include background-image(null, 50% 50%, 24px);
    background-color: $green704555;
    text-decoration: none;
    outline: none;

    @include hide_on_small;
}

.individual {
    @include display-flex;
    @include flex-direction-row;

    @include media(md) {
        @include flex-direction-row-reverse;
    }

    .add-button-like {
        &.individual-info {
            @include background-image(image-url('info'), 50% 50%, 25px 25px);
            margin-right: 5px;

            @include media(md) {
                @include background-image(image-url('info-green'), 50% 50%, 35px 35px);
            }
        }
        &.edit {
            @include background-image(image-url('edit'), 50% 50%, 15px 20px);

            @include media(md) {
                @include background-image(image-url('edit-green'), 50% 50%, 20px 30px);
            }
        }
         &.edit,
         &.individual-info {
             background-color: transparent;
             @include gap(padding, "h", 0);
             @include square-block(40px);
             margin-left: 0;

             @include media(xs, md) {
                 display: block;
             }

             @include media(sm) {
                 @include button-colors(cancel);
                 border-radius: 4px;
             }

             @include media(md) {

                 background-color: $green704555;
                 @include square-block(60px);
                 border-radius: 0;
             }
         }
    }
}


.table-mask-button {
    @include display-flex;
    @include justify-content-space-between;
    @include align-items-center;
    @include align-self-stretch;

    width: 164px;
    padding-left: 20px;
    @include pointer;

    @include font_default_semi_bold;
    color: $green;
    font-size: 13px;

    @include hide_on_small;

    .up-arrow-green-icon {
        @include background-image(null, 0 50%, 12px);

        padding-left: 32px;//20px + background-size
    }
}

/**************************************************/
.month {
    @include display-flex-justify-content-center;
    @include grid-justify-self(center);
    @include grid-align-self(center);
    @include flex-1;
    @include font_default_semi_bold;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    @include hide_on_small;
}

.monthSpe {
    @include display-flex-justify-content-center;
    @include grid-justify-self(center);
    @include grid-align-self(center);
    @include flex-1;
    @include font_default_semi_bold;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/**************************************************/
.table-colomn {
    border-right: 1px dashed $grey301486;

    @include hide_on_small;

    &.active-month {
        background-color: rgba($green725760, 0.2);
    }

    &.top {
        border-left: 1px dashed $grey301486;
    }

    &.last-column {
        border-right-style: none;
    }
}

.table-colomnSpe {
    border-right: 1px dashed $grey301486;

    &.active-month {
        background-color: rgba($green725760, 0.2);
    }

    &.top {
        border-left: 1px dashed $grey301486;
    }

    &.last-column {
        border-right-style: none;
    }
}

/**************************************************/
.table-intitule-stage {
    @include display-flex;
    @include justify-content-flex-start;
    @include align-items-center;
    @include grid-align-self(center);
    @include grid-justify-self(start);
    @include square-block(100%);
    padding-left: 20px;
    @include border((right, bottom), grey(87));
    background-color: rgba($green725760, 0.2);
    @include font_default_semi_bold;
    font-size: 14px;
    letter-spacing: 0.5px;

    @include hide_on_small;

    &.darker {
        background-color: rgba($green725760, 0.3);
    }

    &.last {
        border-bottom-style: none;
    }
}

.table-intitule-stageSpe {
    @include display-flex;
    @include justify-content-flex-start;
    @include align-items-center;
    @include grid-align-self(center);
    @include grid-justify-self(start);
    @include square-block(100%);
    padding-left: 20px;
    @include border((right, bottom), grey(87));
    background-color: rgba($green725760, 0.2);
    @include font_default_semi_bold;
    font-size: 14px;
    letter-spacing: 0.5px;

    &.darker {
        background-color: rgba($green725760, 0.3);
    }

    &.last {
        border-bottom-style: none;
    }
}


/**************************************************/
.table-row {
    border-bottom: 1px solid grey(87);

    @include hide_on_small;

    &.darker {
        background-color: #fdfaf7;
    }

    &.last {
        border-bottom-style: none;
    }
}

.table-rowSpe {
    border-bottom: 1px solid grey(87);

    &.darker {
        background-color: #fdfaf7;
    }

    &.last {
        border-bottom-style: none;
    }
}


/**************************************************/
$stage-colors-map: (floraison: $blue, feuillaison: $green725760, fructification: $orange, senescence: $red, apparition: $red);

.stage-period {
    position: relative;
    @include grid-align-self(center);
    @include grid-justify-self(center);
    z-index: 50;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    opacity: 0.3;
    -webkit-filter: blur(2px);
    filter: blur(2px);

    @include hide_on_small;

    @each $stage, $stage-color in $stage-colors-map {
        &.#{$stage} {
            background-color: #{$stage-color};
        }
    }
}

.stage-periodSpe {
    position: relative;
    @include grid-align-self(center);
    @include grid-justify-self(center);
    z-index: 50;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    opacity: 0.3;
    -webkit-filter: blur(2px);
    filter: blur(2px);

    @each $stage, $stage-color in $stage-colors-map {
        &.#{$stage} {
            background-color: #{$stage-color};
        }
    }
}


/**************************************************/
.stage-marker {
    @include display-flex;
    height: 100px;
    @include background-image(null, 0 50%, 100px 100px);
    background-color: #fff;
    text-decoration: none;
    color: #000000;

    @include media(md) {
        position: relative;
        z-index: 100;
        @include square-block(44px);
        @include grid-align-self(center);
        @include grid-justify-self(center);
        @include background-image(null, 50% 50%);
        border: 2px solid #fff;
        @each $stage, $stage-color in $stage-colors-map {
            &.#{$stage} {
                border-color: #{$stage-color};
            }
        }
        border-radius: 50px;
        background-color: grey(59);
        box-shadow: 0 5px 8px 0 rgba($grey281146, 0.25);
    }

    &:nth-child(even) {
        @include media(xs,sm) {
            background-color: $grey303394;
        }
    }

    &-text {
        @include display-flex;
        @include justify-content-center;
        @include flex-direction-column;
        @include align-content-flex-start;
        @include flex-1;
        margin-left: 100px;/* background-size + 20px */
        padding-left: 20px;

        @include media(sm) {
            border-bottom: 1px solid grey(87);
        }

        @include media(md) {
            display: none;
        }

        &.last {
            border-bottom: none;
        }
    }
}

.stage-text {
    @include font_default_semi_bold;
    font-size: 16px;
}

.stage-date {
    color: $grey281146;
    font-size: 13px;
}

/****************************************************/
.helper-legend {
    @include display-flex;
    @include justify-content-space-between;
    margin-bottom: 60px;
    padding-left: 20px;
    border: 1px solid $grey301486;
    border-radius: 4px;
    background-color: grey(100, 0.5);

    @include hide_on_small;

    &.legend-comment {
        display: none;
        margin: 2px;

        @include media(md) {
            display: block;
        }
    }

    .legends{
        @include display-flex;
        padding: 20px 0;

        .legend{
            width: 20px;
            margin-right: 5px;

            &.last {
                margin-right: 20px;
            }
        }
    }
}

.helper-legend-text {
    padding: 20px 0;
    margin-left: 10px;
    color: $grey281146;
    font-size: 15px;
    @include font_default_italic;
}

.hide-button {
    width: 65px;
    height: auto;
    margin-left: 10px;
    background-color: $grey301687;
    border-radius: 0 4px 4px 0;

    @include background-image(null, 50% 50%, 24px);
}

/**********************************************************/
.accordion {
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-border-color: #456d27;
    --bs-accordion-btn-focus-border-color: #456d27;
    --bs-accordion-active-color: #456d27;
    --bs-accordion-active-bg: #bcd35f;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23#456d27'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #456d27;
}
.accordion-item {
    background-color: transparent;
}

.accordion-button:focus{
    border-color: #bcd35f;
}

.accordion-button:not(.collapsed){
    background-color: #bcd35f;
    color: #456d27;
}

#accordionLegend, #calendar-species{
    @include media(xs,sm) {
        display: none;
    }
}
