.hero-header {
    position: relative;// for author mini block

    @extend %display-flex-column;
    @extend %align-items-center;

    min-height: 340px;
    background-color: $grey303394;

    @include media(lg) {
        @include flex-direction-row;

        background-color: #e7e2dc;
    }

    &.large-map {
        @include media(lg) {
            min-height: 600px;
            padding-left: 8%;
        }

        .hero-header-content {
            min-height: auto;
            min-width: auto;

            @include media(lg) {
                padding-left: 0;
            }
        }
    }

    a:hover{
        color: $green;
    }
}

.hero-header-media-part {
    @extend %display-flex-column;
    @extend %align-self-stretch;

    width: 100%;
    height: 200px;
    min-width: 180px;
    @include background-image("default", (0 0, 50% 50%));

    .leaflet-pane {
        z-index: 0;
    }

    @include media(sm) {
        height: 280px;
    }

    @include media(lg) {
        width: $third-pc * 1%;
        height: auto;
    }
}

.hero-header.large-map .hero-header-media-part {
    background-image: none;
    height: 600px;
    min-width: 100%;

    @include media(lg) {
        width: 50%;
        min-width: 50%;
    }
}

.contributions-mini-block {
    @include position(absolute, 0, 0, auto, auto, 1000);

    @extend %display-flex;
    @extend %justify-content-flex-end;
    @extend %align-items-flex-end;
    @extend %align-self-flex-end;

    @include square-block(70px);

    margin: 20px;
    border: 3px solid #fff;
    border-radius: 4px;

    @include background-image("default", 0 0, 125px);

    @include font_default_semi_bold;
    font-size: 12px;
    box-shadow: 0 1px 3px 0 rgba(#000, 0.2);

    .contributions-number {
        @extend %flex-1;

        padding-right: 10px;
        background-image: -webkit-gradient(linear, left top, left bottom, from($grey131117_a0), to(#000));
        background-image: linear-gradient(180deg, $grey131117_a0, #000);
        color: #fff;
        text-align: right;
    }

    @include media(lg) {
        position: static;
        @include gap(margin, (left, bottom));
    }
}


.hero-header-content {
    @extend %display-flex-column;
    @extend %flex-1;

    padding: 30px 20px;

    @include media(sm) {
        padding: 40px 6% 0;
    }

    @include media(md, lg) {
        margin-top: 20px;
    }

    @include media(lg) {
        min-width: 500px;
        padding: 40px;
    }
}

.hero-header-title {
    margin-top: 0;
    margin-bottom: 20px;

    @include font-title_bold;
    font-size: 18px;

    .lighter {
        color: $grey281146;
    }

    @include media(sm) {
        font-size: 28px;
    }

    @include media(lg) {
        font-size: 32px;
    }
}


.hero-header-subtitle {
    font-size: 14px;
    line-height: 25px;

    @include media(sm) {
        line-height: 22px;
    }
}

.hero-header-detail {
    display: block;
    @extend %align-self-flex-start;

    @include gap(padding, "v", 10px);

    color: $brown;
    font-size: 14px;
}

@mixin hero-header-button-lg {
    @include gap(margin, (top, right), 20px);
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 12px;
}

.privacy-status {
    @extend %hide;
    @include media(lg) {
        @include hero-header-button-lg;
        @include position(absolute, 0, 0);
        display: block;
        background-color: rgba($grey281146, 0.2);
        color: $grey131117;
    }
}


.hero-header-button {
    z-index: 1;

    @include media(lg) {
        position: absolute;
        bottom: 20px;
        right: 0;
        @include hero-header-button-lg;
        border: 1px solid rgba($green, 0.1);
    }
}

.large-map {

    .legend {
        padding: 6px 8px;
        background: white;
        background: grey(100,0.9);
        border-radius: 4px;
        line-height: 24px;
        color: $grey131117;
        box-shadow: 0 0 15px grey(0,0.2);


        .legend h4 {
            text-align: center;
            font-size: 16px;
            margin: 2px 12px 8px;
            color: $grey281146;
        }

        span {
            position: relative;
            bottom: 3px;
        }

        i {
            @include square-block(18px);
            float: left;
            margin: 0 8px 0 0;
            opacity: 0.7;
            border-radius: 10px;
            border-width: 3px;
            border-style: solid;
        }
    }

    .hero-header-button {
        @include media(lg) {
            right: auto;
        }
    }
}

.btn-desinscription-station {
    color: $green;
    text-align: center;
    align-self: stretch;
    z-index: 1;
    margin-top: 20px;

    @include media(lg) {
        position: absolute;
        bottom: 20px;
        right: 200px;
        height: 33px;
        padding: 3px 10px;
        border-radius: 4px;
        font-size: 12px;
        border: 1px solid rgba($green, 0.1);

        @include gap(margin, (top, right), 20px);
    }
}

