{#
    datas*: array (todo: maybe set default to today's date)
        date* array of 2 (todo: let this be a date then reformat as below.)
            day* int
            month* string of 3 (e.g. nov), or 4 (i.e. juin & juil)
#}
<div class="dual-blocks-container">
    <div class="event-date">
        {{ datas[0][0] }}<br>{{ datas[0][1] }}
    </div>

    {% if datas[1] is defined %}
        <div class="event-date last">
            {{ datas[1][0] }}<br>{{ datas[1][1] }}
        </div>
    {% endif %}
</div>