{#
    #: optionnal,
    *: required,
    |: default

    datas*: array
        heading* string (with dropdown)
        sub_heading# string (item-name)
#}
{% if template == 'observation' %}
    <a href="#" class="item-heading-dropdown right-arrow-orange-icon">{{ datas[0] }}</a>
{% else %}
    <div class="item-heading-dropdown">{{ datas[0] }}</div>
{% endif %}
{% if datas[1] is defined %}
    <div class="item-name {{ template == 'evenement' ? 'pointer-orange-icon' }}">{{ datas[1] }}</div>
{% endif %}

