%margin-bottom-20px {
    margin-bottom: 20px;
}

/*************************************/

.publication-date {
    @include uppercase-small-text;
    a {
        text-decoration: none !important;
        strong {
            @include green-text-semi-bold;
        }
    }
}

.rich-text-block {
    zoom: 1;

    &::after {
        content: "";
        display: block;
        height:  0;
        clear:   both;
    }

    @include media(md) {
        .image-style-side {
            float:         right;
            margin-left:   rem(50px);
            margin-bottom: rem(50px);
        }
    }

    h2 {
        font-size: 20px;
        line-height: 26px;

        @include media(sm) {
            @include font_title_bold;

            font-size: 25px;
            line-height: 30px;
        }

        @include media(md) {
            font-size: 34px;
            line-height: 36px;
        }
    }

    blockquote {
        font-size: 16px;
        line-height: 24px;

        @include media(sm) {
            font-size: 18px;
            line-height: 28px;
        }

        @include media(md) {
            line-height: 32px;
        }
    }

    img {
        width: 100%;
        margin-top: 10px;

        @include media(sm) {
            margin-top: 30px;
        }
    }

    figure {
        position: relative;
        display: block;

        @include gap(margin, "h", auto);

        text-align: center;
        clear: both;

        @media screen and (min-width:1000px) {
            max-width: 1000px;
        }

        > figcaption {
            display: block;
            @extend %margin-bottom-20px;

            font-size: 14px;
            color: $grey281146;

            @include media(sm) {
                margin-bottom: 30px;
                font-size: 15px;
            }
        }

    }

    h3 {
        @extend %margin-bottom-20px;

        @include font_title_bold;

        font-size: 18px;

        @include media(sm) {
            font-size: 22px;
        }

        @include media(md) {
            font-size: 24px;
        }
    }

    p {
        @extend %margin-bottom-20px;

        color: $grey131117;
        font-size: 14px;
        line-height: 23px;

        @include media(sm) {
            font-size: 16px;
            line-height: 28px;
        }
    }

    a {
       @extend .green-link;
    }

    .event-dates-container {
        @include gap(padding,"v", 20px);

        & .dual-blocks-container {
            @include display-flex;
            @include justify-content-flex-start;
            @include flex-direction-row;

            @include media(md) {
                @include flex-none;
            }
        }

        & .event-date {
            @include dual-block;
            text-align: center;
            border-radius: 0;
            margin-left: 0;
            font-size: 10px;
            line-height: 18px;

            @include media(md) {
                @include flex-none;
            }

            &.last {
                margin-left: 0;

                &::before{
                    top: 50%;
                    left: 0;
                    @include border('v', transparent, solid, 8px);
                    border-left: 8px solid #ff7f2a;
                    border-right: 10px solid transparent;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            &:only-child {

                @include media(xs,sm) {
                    width: 80px;
                }

                @include media(sm) {
                    width: 100px;
                }
            }
        }
    }
}

/*************************************/

.other-posts {
    @extend %display-flex-column;
    height: auto;
    margin-top: 50px;

    @include media(sm) {
        @include flex-direction-row;
        height: 200px;
    }
}

.linked-post {
    @mixin linked-post-txt-padding-h($size){
        padding-right: $size;
        &:last-child {
            padding-left: $size;
        }
    }

    @extend %display-flex-column;
    @extend %justify-content-center;
    @extend %align-items-stretch;
    @extend %align-self-center;
    @extend %flex-1;

    width: 100%;

    @include padding-v(10px);
    @include linked-post-txt-padding-h(0);

    font-size: 14px;
    color: grey(20);

    @include border((top, right, bottom), $grey262075) ;

    @include media(xs, sm) {
        border-right-style: none;
    }

    @include media(sm) {
        height: 200px;

        @include gap(padding, "v");
        @include linked-post-txt-padding-h(20px);
    }

    @include media(md) {
        font-size: 16px;
        @include linked-post-txt-padding-h(50px);
    }

    @include media(lg) {
        @include linked-post-txt-padding-h(80px);
    }

    &:last-child {
        border-right-style: none;

        @include media(xs, sm) {
            border-top-style: none;
        }

        @include media(sm) {
            padding-right: 0;
            font-size: 16px;
        }
    }
}

.linked-post-title {
    color: $green;
    text-decoration: none;

    h4 {
        @include font_title;
        font-size: 18px;
        line-height: 26px;

        @include media(md) {
            font-size: 22px;
        }
    }
}

.linked-post-date {
    @include uppercase-small-text;
}

.post-header {
    @include padding-h(8%);
}

.post-footer {
    @include display-flex;
    padding: 20px;
    margin-top: 20px;

    @include media(sm) {
        @include padding-h(60px);
        margin-bottom: 20px;
    }
}

.rich-text-block-fiche {
    zoom: 1;

    &::after {
        content: "";
        display: block;
        height:  0;
        clear:   both;
    }

    @include media(md) {
        .image-style-side {
            float:         right;
            margin-left:   rem(50px);
            margin-bottom: rem(50px);
        }
    }

    h2 {
        font-size: 20px;
        line-height: 26px;

        @include media(sm) {
            @include font_title_bold;

            font-size: 25px;
            line-height: 30px;
        }

        @include media(md) {
            font-size: 34px;
            line-height: 36px;
        }
    }

    blockquote {
        font-size: 16px;
        line-height: 24px;

        @include media(sm) {
            font-size: 18px;
            line-height: 28px;
        }

        @include media(md) {
            line-height: 32px;
        }
    }

    img {
        //width: 100%;
        margin-top: 10px;

        @include media(sm) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    figure {
        position: relative;
        display: block;

        @include gap(margin, "h", auto);

        //text-align: center;
        clear: both;

        @media screen and (min-width:1000px) {
            max-width: 1000px;
        }

        > figcaption {
            display: block;
            @extend %margin-bottom-20px;

            font-size: 14px;
            color: $grey281146;

            @include media(sm) {
                margin-bottom: 30px;
                font-size: 15px;
            }
        }

    }

    h3 {
        @extend %margin-bottom-20px;

        @include font_title_bold;

        font-size: 18px;

        @include media(sm) {
            font-size: 22px;
        }

        @include media(md) {
            font-size: 24px;
        }
    }

    p {
        @extend %margin-bottom-20px;

        color: $grey131117;
        font-size: 14px;
        line-height: 23px;

        @include media(sm) {
            font-size: 16px;
            line-height: 28px;
        }
    }

    a {
        @extend .green-link;
    }

    .event-dates-container {
        @include gap(padding,"v", 20px);

        & .dual-blocks-container {
            @include display-flex;
            @include justify-content-flex-start;
            @include flex-direction-row;

            @include media(md) {
                @include flex-none;
            }
        }

        & .event-date {
            @include dual-block;
            text-align: center;
            border-radius: 0;
            margin-left: 0;
            font-size: 10px;
            line-height: 18px;

            @include media(md) {
                @include flex-none;
            }

            &.last {
                margin-left: 0;

                &::before{
                    top: 50%;
                    left: 0;
                    @include border('v', transparent, solid, 8px);
                    border-left: 8px solid #ff7f2a;
                    border-right: 10px solid transparent;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            &:only-child {

                @include media(xs,sm) {
                    width: 80px;
                }

                @include media(sm) {
                    width: 100px;
                }
            }
        }
    }
}
