{% extends 'forms/base-individu.html.twig' %}
{% block form_title%}
    {{ station.name|capitalize }} &nbsp;<span class="saisie-title-action">• &nbsp;Saisir un individu</span>
{% endblock %}
{% block form %}
    <div class="_2-col-form">
        {{ form_row(individualForm.name, {
            'row_attr': {'class': 'form-col'},
            'label': 'Nom *',
            'attr': {
                'class': 'text-field ods-input',
                'max': '255',
                'data-name': 'name'
            }
        }) }}
        {{ form_row(individualForm.species, {
            'row_attr': {'class': 'form-col ml'},
            'label': 'Espèce *',
            'attr': {
                'class': 'select-field',
                'data-name': 'species'
            },
            'help': '(+) espèces dont des individus sont déjà enregistrés sur la station.',
            'help_attr': {'class': 'field-help-text'}
        }) }}
    </div>
    <div class="_2-col-form">
        {{ form_row(individualForm.details, {
            'row_attr': {'class': 'form-col'},
            'label': 'Ajouter une précision',
            'attr': {
                'class': 'textarea-field text-field ods-input',
                'rows': 3,
                'data-name': 'details',
                'placeholder': 'Si nécessaire, vous pouvez noter quelques précisions ici (exposé plein nord, arbre isolé, jeune individu, arbre de plus de 20m...)'
            }
        }) }}
    </div>
{% endblock %}

{% block form_javascript %}{% endblock %}


