{% extends 'emails/base.html.twig' %}

{% block title %}Image refuser{% endblock %}

{% block preheader %}Image envoyé refuser{% endblock %}

{% block body %}
    <h1>Votre image a été refusée</h1>
    <p>Bonjour {{ user }},</p>
    <p>Votre image a été refusée pour la raison suivante : {{ motif }}</p>
    <p><a href="{{ link }}" target="_blank">Votre observation</a></p>
{% endblock %}