{% extends 'emails/base.html.twig' %}

{% block title %}Activez votre compte sur l'Observatoire des Saisons{% endblock %}

{% block preheader %}Bienvenue sur l’Observatoire des Saisons !{% endblock %}

{% block body %}
	<h1>Bienvenue {{ user.displayName }},</h1>

	<p>Vous venez de vous inscrire sur le site de l’Observatoire des Saisons. Afin de confirmer la création de votre compte, nous vous invitons à cliquer sur le bouton ci-dessous.</p>

	<!-- Action -->
	<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td align="center">
				<!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td align="center">
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<a href="{{ url }}" class="button" target="_blank">Activer mon compte</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<p>Lors de votre première connexion, rendez-vous sur votre profil (l’icone en haut à droite) pour y mettre à jour vos préférences de compte : inscription à notre lettre d’actualités, mettre une photo de profil etc.</p>

	{% include 'components/email-signature.html.twig' %}
{% endblock %}
