{% extends 'emails/forgotten-password.html.twig' %}

{% block details %}
    <p>Suite à la migration du site et pour des raisons de sécurité, nous n’avons pas pu conserver votre ancien mot de passe.</p>

    <p>Pensez également à vous abonner à nouveau à notre lettre d’actualités (4 à 6 envois par an), votre précédent abonnement n’a pas pu être conservé.</p>
{% endblock %}
