<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title 'Accueil | Observatoire des saisons' %}</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="global-layout">
			{% block menu %}
				<div id="menu-accueil" class="menu">
					<a href="#" class="site-name ods-inline-block">
						<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce254050b5f0b6b35261cf2_logoODS_texte.png" alt="" class="logo">
					</a>
					<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce3df4c575ff6b49e05230a_close.svg" alt="" class="close-menu-img pointer" width="10">
					<div class="nav">
						<a href="/" class="nav-item home ods-inline-block ods--current">
							<div>Accueil</div>
						</a>
						<a href="#" class="nav-item ods-inline-block">
							<div>À propos</div>
						</a>
						<a href="#" class="nav-item ods-inline-block">
							<div>Actualités</div>
						</a>
						<a href="#" class="nav-item ods-inline-block">
							<div>Évènements</div>
						</a>
						<a href="#" class="nav-item ods-inline-block">
							<div>Espèces à observer</div>
						</a>
						<a href="#" class="nav-item ods-inline-block">
							<div>Participer</div>
						</a>
						<a href="#" class="nav-item ods-inline-block">
							<div>Résultats</div>
						</a>
						<a href="#" class="nav-item ods-inline-block">
							<div>Outils &amp; ressources</div>
						</a>
						<a href="#" class="nav-item ods-inline-block">
							<div>Relais</div>
						</a>
						<a href="#" class="nav-item resp-connect ods-inline-block">
							<div>Connexion</div>
						</a>
					</div>
					<div class="social-links">
						<div class="social-icon-link first pointer">
							<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce254640b5f0b74c3261dbb_Trac%C3%A9%20183.svg" alt="" width="10">
						</div>
						<div class="social-icon-link pointer">
							<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce254640b5f0b0136261dbc_Trac%C3%A9%20184.svg" alt="" width="20">
						</div>
						<div class="social-icon-link pointer">
							<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce254647c5e2fdf36032a0e_Trac%C3%A9%20185.svg" alt="" width="20">
						</div>
					</div>
				</div>
			{% endblock %}
			{% block main %}
				<div class="main home">
					<div class="topbar home">
						<div class="topbar-left skewed">
							<div class="text-block-18">
								<span>Contribuez</span> à la recherche sur le changement climatique !
							</div>
							<div class="right-links">
								<a href="#" class="topbar-link">Comment ça marche ?</a>
								<a href="#" class="topbar-link">Connexion</a>
							</div>
						</div>
						<a href="#" class="site-name responsive ods-inline-block">
							<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce254050b5f0b6b35261cf2_logoODS_texte.png" alt="" class="logo">
							<h1 class="site-name-text">Observatoire des Saisons</h1>
						</a>
						<div class="topbar-right">
							<a href="#" class="connexion ods-inline-block">
									<div>Connexion</div>
							</a>
							<img id="menu-hamburger-img" src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce3dedb2c6b45486e256788_menu%20icn.svg" alt="" class="menu-img pointer" width="10">
						</div>
					</div>
					<div class="actus-une">
						<div class="actus-une-img"></div>
						<div class="actus-une-content">
							<div class="content-narrow-header bottom-div">
								<h4 class="content-narrow-title">Actualités</h4>
								<div class="div-block-12">
									<a href="#" class="nav-arrow ods-inline-block">
										<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce26beb24b02e90a754f9d4_Trac%C3%A9%20186.svg" alt="" class="inactive" width="15" height="15">
									</a>
									<a href="#" class="nav-arrow ods-inline-block">
										<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce26beb7c5e2f59b8038718_Trac%C3%A9%20187.svg" alt="" width="15" height="15">
									</a>
								</div>
							</div>
							<h4 class="actus-une-title">Vos plus belles photos du début d'année</h4>
							<div class="actus-une-date">12 janvier 2019</div>
							<div class="div-block-11">
								<a href="#" class="link-2">toutes les actualités</a>
							</div>
						</div>
					</div>
					<div class="content home">
						<div class="content-une-block _1">
							<div class="content-block-counter">
								<div class="content-block-counter-box">
									<div class="content-block-counter-number">2214</div>
									<div class="content-block-counter-caption">Observations en 2018</div>
								</div>
							</div>
							<div class="content-block-infos">
								<h3 class="heading-cap">résultats</h3>
								<h4 class="content-blocks-title">Découvrez les constats basés sur 10 années d’observation.</h4>
								<a href="#" class="content-block-link ods-inline-block">
									<div class="text-block-3">Voir tous les résultats</div>
									<img src="https://assets.website-files.com/img/image-placeholder.svg" alt="" class="link-arrow">
								</a>
							</div>
						</div>
						<div class="content-une-block _2">
							<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2923bd0cadbbb0a311fae_Fichier%203.svg" alt="" class="content-block-img" height="50">
							<div class="content-block-infos">
								<h3 class="content-narrow-title dark">Comment participer ?</h3>
								<h4 class="content-blocks-title">En quelques minutes, devenez un observateur des saisons !</h4>
								<p class="paragraph-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat...</p>
								<a href="#" class="content-block-link w-inline-block">
									<div class="text-block-20">En savoir plus</div>
								</a>
							</div>
						</div>
						<div class="next-event">
							<div class="content-narrow-header bottom-div">
								<h4 class="content-narrow-title orange">Évènements</h4>
								<div class="div-block-12">
									<a href="#" class="nav-arrow light ods-inline-block">
										<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce26c667e30fb67112065d3_arrow-left-orange.svg" alt="" class="inactive" width="15" height="15">
									</a>
									<a href="#" class="nav-arrow light ods-inline-block">
										<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce26c660b5f0b155e266d34_arrow-right-orange.svg" alt="" width="15" height="15">
									</a>
								</div>
							</div>
							<div class="next-event-descr">Stage de terrain autour de<br>St-Hippolyte-du-Fort</div>
							<div>
								<h5 class="next-event-title">22 - 26 Janvier 2019</h5>
								<div class="next-event-city">St-Hippolyte-du-Fort (30)</div>
							</div>
							<div class="div-block-11 beige">
								<a href="#" class="link-2 fonce">touS les évènements</a>
							</div>
						</div>
					</div>
					<div class="content home">
						<div class="now">
							<div class="content-block-infos horiz">
								<div class="div-block-13">
									<h3 class="content-narrow-title">à Observer en ce moment</h3>
									<h4 class="content-blocks-title small">Sorbier des oiseleurs</h4>
									<div class="text-block-20-copy pointer">Comment l'observer ?</div>
								</div>
							</div>
						</div>
						<div class="recent-obs">
							<div class="content-narrow-header obs">
								<h4 class="content-narrow-title dark">Observations récentes</h4>
							</div>
							<ul class="ods-list-unstyled">
								<li>
									<a href="#" class="recent-obs-item ods-inline-block">
										<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720b24b02e7d145510f5_small01.jpg" alt="" width="80">
										<div class="recent-obs-item-content first">
											<div class="recent-obs-title">Chêne blanc</div>
											<div class="recent-obs-item-stade">Sénescence stade 91</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="recent-obs-item ods-inline-block">
										<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a0b5f0b267a268acb_small05.jpg" alt="" width="80">
										<div class="recent-obs-item-content">
											<div class="recent-obs-title">Chêne blanc</div>
											<div class="recent-obs-item-stade">Sénescence stade 91</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="recent-obs-item ods-inline-block">
										<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a0b5f0b1baf268acc_small04.jpg" alt="" width="80">
										<div class="recent-obs-item-content">
											<div class="recent-obs-title">Chêne blanc</div>
											<div class="recent-obs-item-stade">Sénescence stade 91</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="recent-obs-item ods-inline-block">
										<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720ad0cadbb55830878c_small02.jpg" alt="" width="80">
										<div class="recent-obs-item-content">
											<div class="recent-obs-title">Chêne blanc</div>
											<div class="recent-obs-item-stade">Sénescence stade 91</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#" class="recent-obs-item ods-inline-block">
										<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a8eff8b09290b7bd7_small03.jpg" alt="" width="80">
										<div class="recent-obs-item-content">
											<div class="recent-obs-title">Chêne blanc</div>
											<div class="recent-obs-item-stade">Sénescence stade 91</div>
										</div>
									</a>
								</li>
							</ul>
							<div class="div-block-11">
								<a href="#" class="link-2">Ajoutez&nbsp;UNE&nbsp;OBSERVATION</a>
							</div>
						</div>
					</div>
					<div class="number-obs-container">
						<div class="banner-number">
							<div class="div-block-20">
								<div class="number-obs">2138</div>
								<div class="text-block-37">Observations en 2018</div>
							</div>
							<div class="div-block-21">
								<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a0b5f0b1baf268acc_small04.jpg" id="w-node-2fd297a8c71e-1ac511a1" alt="">
								<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720a0b5f0b267a268acb_small05.jpg" id="w-node-9131b95af2c3-1ac511a1" alt="">
								<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720b24b02e7d145510f5_small01.jpg" id="w-node-acc6c76e6265-1ac511a1" alt="">
								<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720ad0cadbb55830878c_small02.jpg" id="w-node-324c6d4a3741-1ac511a1" alt="">
							</div>
						</div>
					</div>
					<div class="footer">
						<div class="footer-main">
							<div class="footer-main-col">
								<div class="footer-link-list margin-left-40">
									<div class="footer-title">Près de chez vous</div>
									<a href="#" class="footer-link _1">ODS&nbsp;Provence</a>
									<a href="#" class="footer-link _1">Liste des relais</a>
									<a href="#" class="footer-link _1">Liste des stations d'observation</a>
								</div>
								<div class="subfooter-left">
									<a href="#" class="subfooter-link">FAQ /&nbsp;Aide</a>
									<div class="bulllet"></div>
									<a href="#" class="subfooter-link lower">Mentions légales</a>
								</div>
							</div>
							<div class="footer-main-col">
								<div class="footer-link-list">
									<div class="footer-title">Enseignants, pros, assos</div>
									<a href="#" class="footer-link">Devenir relais</a>
									<a href="#" class="footer-link">Formations et outils</a>
									<a href="#" class="footer-link">Ressources</a>
								</div>
							</div>
						</div>
						<div class="footer-right">
							<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce38ab132ca5b97209e30b4_logos.png" alt="" class="footer-logos" width="160">
							<div>
								<a href="#" class="button ods-button">Contactez-nous</a>
							</div>
							<div class="subfooter-right">
								<div class="text-block-21">Site réalisé par&nbsp; </div>
								<a href="#" class="subfooter-link">Tela Botanica</a>
							</div>
						</div>
					</div>
				</div>
			{% endblock %}
		</div>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
