{% extends 'base.html.twig' %}
{% if headers is not defined %}
    {% set headers = {'header':{}} %}
{% endif %}

{% block content %}
    {% block top_content %}{% endblock %}

    <div class="content page">
        <div class="pages-container {{ page_container_classes|default }}">

            {% for header in headers %}
                {% block header_content %}
                    {% include 'layout/header.html.twig' %}
                {% endblock %}

                {% block main_content %}{% endblock %}

            {% endfor %}

        </div>
    </div>

    {% block bottom_content %}{% endblock %}
{% endblock content %}