{% set lastYear = stats.lastYear %}
{% set currentYear = stats.currentYear %}
<h3 class="text-center">ODS Provence</h3>
<div class="row">
    
    <div class="col-4">
        {% include 'components/cards/admin-cards.html.twig' with {
            'data' : stats.provence.allStations,
            'texte' : 'Nombre global de stations'
        } %}
    </div>
    <div class="col-4">
        {% include 'components/cards/admin-cards.html.twig' with {
            'data' : stats.provence.allStations2015,
            'texte' : 'Nombre de stations depuis 2015'
        } %}
    </div>
    <div class="col-4">
        
        {% include 'components/cards/admin-cards.html.twig' with {
            'data' : stats.provence.allStationsJune,
            'texte' : "Nombre de stations de juin #{lastYear} à juin #{currentYear}"
        } %}
    </div>
    <div class="col-4">
        {% include 'components/cards/admin-cards.html.twig' with {
            'data' : stats.provence.allObservations,
            'texte' : "Nombre global d'observations"
        } %}
    </div>
    <div class="col-4">
        {% include 'components/cards/admin-cards.html.twig' with {
            'data' : stats.provence.allObservations2015,
            'texte' : "Nombre d'observations depuis 2015"
        } %}
    </div>
    <div class="col-4">
        {% include 'components/cards/admin-cards.html.twig' with {
            'data' : stats.provence.allObservationsJune,
            'texte' : "Nombre d'observations de juin #{lastYear} à juin #{currentYear}"
        } %}
    </div>
    
    
    <div class="col-4">
        {% include 'components/cards/admin-cards-tables-species.html.twig' with {
            'data' : stats.provence.threeSpecies,
            'texte' : "Trois espèces les plus observées aujourd'hui"
        } %}
    </div>  
    <div class="col-4">
        {% include 'components/cards/admin-cards-tables-species.html.twig' with {
            'data' : stats.provence.threeSpecies2007,
            'texte' : "Trois espèces les plus observées depuis 2007"
        } %}
    </div>
    <div class="col-4">
        {% include 'components/cards/admin-cards-tables-species.html.twig' with {
            'data' : stats.provence.threeSpecies2015,
            'texte' : "Trois espèces les plus observées depuis 2015"
        } %}
    </div>
</div>