
.dashboard-container {
    @include gap ("padding", h, 20px);

    h3 {
        text-transform: capitalize;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .dashboard-text {
        padding-bottom: 10px;
    }

    .member-avatar {
        @include square-block(100px);
    }

    .bolder {
        color: $grey131117;
        @include font_default_semi_bold;
    }

    ul {
        margin-top: 20px;
    }
}

.dashboard-obs-info-container {
    min-width: 80%;
    h3 {
        margin: 10px auto;

        @include media(sm, md) {
            margin: 10px;
        }
    }

    .item-name {
        display: block;
        text-transform: capitalize;
        &.stage{
            font-weight: bold;
        }
    }

    .item-name-block {
        min-width: auto;
        width: 100/3 * 1%;
    }

    .list-card-img {
        min-width: 100/3 * 1%;
    }

    .dual-blocks-container {
        @include media(sm) {
            @include flex-direction-column;
        }

        &.delete-icon{
            margin-bottom: 20px;
        }
    }
}