/******************************************/
/*                 form                   */
/******************************************/
.ods-form {
	margin: 0 0 15px;
}

._2-col-form {
	@extend %display-flex-column;
	margin-bottom: 20px;

	&.field-group {
		margin-bottom: 5px;
	}

	@include media(md) {
		@include flex-direction-row;
	}
}

.ml {
	@include media(md) {
		margin-left: 20px;
	}
}

.form-col {
	@extend %flex-1;

	&.small {
		@extend %flex-none;

		width: auto;

		@include media(sm) {
			width: 320px;
		}

		@include media(md) {
			width: 180px;
		}

		&.button-form-container {
			@include media(sm) {
				width: auto;
			}
		}

		&.check {
			padding-top: 20px;
			padding-left: 0;

			@include media(md) {
				padding-top: 30px;
				padding-left: 10px;
			}
		}
	}

}

%input {
	display: block;
	width: 100%;
	height: 40px;
	padding: 8px 12px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: grey(20);
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid grey(80);
}

.text-field {
	@extend %input;
	border-radius: 4px;
	&.date {
		@include background-image(image-url('calendrier'), 94% 50%, 18px);
	}
}

.select-field {
	@extend %input;
	background-color: $white_a1;
	&.and-help {
		margin-bottom: 5px;
	}
	&[disabled="disabled"],&.disabled {
		background-color:#e9ecef;
		pointer-events: none;
	}
}

.textarea-field {
	height: 80px;
}

.checkbox-label {
	margin-left: 5px;
	color: $grey131117;
}

.light-label {
	font-weight: normal;
}

.justify-between {
	@include display-flex;
	@include justify-content-space-between;
}

.upload-zone {
	@extend %display-flex;
	@extend %justify-content-center;
	@extend %align-items-center;
	width: 80%;
	margin-bottom: 140px;
	height: 84px;
	border: 2px dashed grey(67);

	@include media(sm) {
		margin-bottom: inherit;
	}
}

.ods-form-done {
	@extend %hide;
	padding: 20px;
	text-align: center;
	background-color: grey(87);
}

.ods-form-fail {
	@extend %hide;
	margin-top: 10px;
	padding: 10px;
	background-color: #ffdede;
}

.ods-form-warning {
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #f6bb93;
}

.ods-checkbox {
	display: block;
	margin-bottom: 5px;
	padding-left: 20px;
}

.ods-checkbox-input {
	float: left;
	@include gap(margin, (right, bottom));
	margin-top: 4px;
	margin-left: -20px;
	line-height: normal;
}

.ods-form-label {
	display: inline-block;
	@include pointer;
	font-weight: normal;
	margin-bottom: 0;
}

.search-form {
	@extend %align-self-center;
	@extend %flex-1;
	@include gap(margin, (right, bottom));

	@include media(md) {
		margin-right: 20px;
	}
}

.search-field {
	@extend %input;
	height: 50px;
	padding-left: 20%;
	margin-bottom: 20px;
	@include background-image(image-url('search'), 20px 50%, 18px);
	font-size: 16px;
	border: none;
	border-radius: 4px;

	@include media(sm) {
		padding-left: 15%;
	}

	@include media(md) {
		margin-bottom: 0;
	}

	@include media(md, lg) {
		height: 40px;
	}

	@include media(lg) {
		padding-left: 10%;
	}
}

/******************************************/
/*          text-blocks                   */
/******************************************/

.upload-zone-placeholder {
	margin-left: 10px;
	color: #8e8484;
	font-size: 15px;
	font-weight: 600;

	@include media(sm) {
		font-size: 14px;
	}
}

.field-help-text {
	margin-left: 5px;
	color: $grey281146;
	font-size: 15px;
	line-height: 23px;
}
