.page-header {
    margin-top: 24px;

    @include media(xs, sm) {
        padding-bottom: 30px;
    }
}

/****************************/

.page-title {
    margin-top: 0;

    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.page-subtitle {
    color: $grey131117;

    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ccbeb3;

    font-size: 18px;
    line-height: 28px;
    font-weight: 400;

    @include media(lg) {
        color: $grey181217;
    }

    a {
        @extend .green-link;
    }
}

