.map-scroll {
  &:before {
    content: 'vous pouvez zoomer sur la carte à l’aide de CTRL+Molette de défilement';
    @include position(absolute,30%,auto,auto,30px,999);
    position: absolute;
    color: #fff;
    font-size: 34px;
  }
  &:after {
    content: '';
    @include position(absolute,0,0,0,0,998);
    background: grey(0, 0.4);
  }
}
