.overlay {
	@include position(fixed, 0, 0, 0, 0, 1000);
	@include display-flex;
	@include justify-content-center;
	@include align-items-center;
	background-color: rgba($grey131117, 0.9);
}

.obs-info-container,
.saisie-container {
	@include position(fixed, 0, 0, 0, 0, 1);
	@extend %display-flex-column;
	padding: 20px;
	padding-bottom: 200px;
	max-width: 680px;
	max-height: 100%;
	overflow-y: auto;
	-ms-overflow-y: auto;

	background-color: #fff;

	@include media(sm) {
		@include gap(padding, "h", 60px);
		padding-bottom: 40px;
	}

	@include media(md) {
		border-radius: 2px;
		position: static;
	}

	&.page {
		position: static;
		background-color: $grey303394;
		max-width: 100%;
		max-height: none;
		border-radius: unset;
		padding-bottom: 0;

		.saisie-footer {
			position: static;
		}
	}
}

.obs-info-container {
	min-width: 80%;
	h3 {
		margin: 10px auto;

		@include media(sm, md) {
			margin: 10px;
		}
	}

	.item-name {
		display: block;
		text-transform: capitalize;
		&.stage{
			font-weight: bold;
		}
	}

	.item-name-block {
		min-width: auto;
		width: 100/3 * 1%;
	}

	.list-card-img {
		min-width: 100/3 * 1%;
	}

	.dual-blocks-container {
		@include media(sm) {
			@include flex-direction-column;
		}

		&.delete-icon{
			margin-bottom: 20px;
		}
	}
}

.saisie-container {
	@include flex-1;
}

.saisie-header {
	@include gap(margin, "v");
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 24px;
	border-bottom: 1px solid grey(87);
	@include font_title_bold;

	@include media(sm) {
		padding-top: 20px;
		padding-bottom: 30px;
	}

	@include media(sm, md) {
		font-size: 32px;
	}
}

.saisie-title-action {
	@extend %hide;

	@include media(md) {
		display: inline;
		color: $green;
	}
}

.saisie {
	margin-top: 30px;
}

.saisie-aide {
	@extend %display-flex-column;
	padding: 20px;
	border: 1px solid grey(87);
	border-radius: 4px;
	background-color: #f3f9fa;

	@include media(sm) {
		@include flex-direction-row;
	}

	img {
		font-size: 10px;
		color: transparent;
	}
}

.saisie-aide-txt {
	@extend %display-flex-column;
	@include flex-1;
	padding-left: 0;

	@include media(sm) {
		padding-left: 15px;
	}
}

.text-aide-1 {
	font-weight: 600;
}

.text-aide-2 {
	color: $grey281146;
	font-size: 14px;
}

.upload-label-block {
	@include display-flex;
	@include justify-content-space-between;
	margin-top: 25px;
	width: 80%;
}

.optional-italic {
	color: grey(60);
	font-size: 14px;
	font-style: italic;
}

.upload-zone {
	position: relative;

	.upload-input {
		width: 100%;
		opacity: 0;
		@include position(absolute, 0, 0, 0, 0, 1000);
		cursor: pointer;
	}

	img.obj {
		height: 84px;
		width: auto;
	}
}

#map {
	margin-bottom: 25px;
	cursor: crosshair;
	height: 300px;
	width: 100%;

	&.out {
		height:0;
	}
}

.algolia-places {
	padding-right: 50px;
	margin-bottom: 5px;
}

.ap-dropdown-menu {
	z-index: 1001 !important;
}

#search {
	padding-right: 31px;
}

.loading::after {
	content: '';
	display: inline-block;
	background-image: image-url('chargement-image','gif');
	background-size: 1rem;
	height: 1rem;
	width: 1rem;
}

.field-group .button {
	width: 100%;
	margin: 0;

	@include media(md) {
		width: 180px;
		margin-top: 25px;
		margin-left: 14px;
	}
}

.button.bt-add.open-details-button {
	margin: 0;
}

.saisie-footer {
	@include position(fixed, auto, 0, 0, 0, 2000);
	@include display-flex;
	margin-top: 20px;

	@include media(sm) {
		position: static;
		margin-bottom: 20px;
	}
}


#station_form {
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}
}