.overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(47, 40, 38, 0.9);
}

.saisie-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	padding: 20px 20px 200px;
	max-width: 680px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: auto;
	background-color: #fff;
}

.saisie-header {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 24px;
	border-bottom: 1px solid #ddd;
	font-family: 'Averia Serif Libre', 'Trebuchet MS', 'Georgia', serif;
}

.saisie {
	margin-top: 30px;
}

.saisie-aide {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #f3f9fa;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.saisie-aide-txt {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.saisie-footer {
	position: fixed;
	left: 0;
	top: auto;
	right: 0;
	bottom: 0;
	z-index: 2000;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 20px;
}

/******************************************/
/*          div-blocks                    */
/******************************************/
.div-block-9 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 25px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/******************************************/
/*          text-blocks                   */
/******************************************/

.text-block-14 {
	color: #837569;
	font-size: 14px;
}

.text-block-15 {
	font-weight: 600;
}

/******************************************/
/*             text-span                  */
/******************************************/

.text-span-2 {
	display: none;
	font-size: 18px;
}

/******************************************/
/*               buttons                  */
/******************************************/
.bt {
	padding: 12px 20px;
	border-radius: 4px;
	color: #333;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

.bt.annuler {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 0;
	-webkit-flex: 0 35%;
	-ms-flex: 0 35%;
	flex: 0 35%;
	border-radius: 0;
	background-color: #eee9e4;
	color: #2f2826;
	font-weight: 600;
}

.bt.valider {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-left: 0;
	padding: 16px 0;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-color: #bcd35f;
	color: #456d27;
	font-weight: 600;
	border-radius: 0;
}

@media screen and ( min-width: 480px ) {
	.saisie-container {
		padding-right: 60px;
		padding-bottom: 40px;
		padding-left: 60px;
	}

	.saisie-header {
		padding-top: 20px;
		padding-bottom: 30px;
		font-size: 32px;
	}

	.saisie-aide {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.saisie-aide-txt {
		padding-left: 15px;
	}

	.saisie-footer {
		position: static;
	}

	/******************************************/
	/*               buttons                  */
	/******************************************/
	.bt.annuler {
		margin-right: 10px;
		background-color: rgba(131, 117, 105, 0.2);
		border-radius: 4px;
		padding: 12px 20px;
	}

	.bt.valider {
		margin-left: 10px;
		border-radius: 4px;
		padding: 12px 20px;
	}
}

@media screen and ( min-width: 768px ) {
	.saisie-container {
		border-radius: 2px;
		position: static;
	}

	.saisie-header {
		font-size: 24px;
	}

	.text-span-2 {
		display: inline;
		font-size: 24px;
		color: #456d27;
	}
}

@media screen and ( min-width: 992px ) {

}
