.global-layout {
    display: block;
    @include flex-direction-row;
    height: auto;

    @include media(xs, md) {
        overflow: visible;
        width: 100vw;
    }

    @include media(md) {
        @include display-flex;
    }
}

.main {
    @include flex-direction-column;
    @include flex-1;
    overflow: hidden;
    margin-left: 0;
    display: flex;
    min-height: 100vh;
    box-shadow: 1px 1px 3px 0 rgba(#000, 0.1);

    &.home {
        position: static;
    }

    @include media(lg) {
        margin-left: 280px;
    }
}

.content.page {
    background-color: $grey303394;
    flex-grow: 1;

    @include media(lg) {
        @include border((top, left), $grey306092);
    }
}

.pages-container {
    @include display-flex;
    @include flex-direction-column;
    @include flex-wrap-nowrap;

    width: 80%;
    max-width: 800px;
    @include media(sm) {
        width: 70%;
    }

    margin-right: auto;
    margin-left: auto;

    padding-top: 20px;
    padding-bottom: 60px;

    @include media(sm) {
        padding-top: 40px;
    }

    @include media(md) {
        padding-top: 60px;
        padding-bottom: 100px;
    }

    @include media(lg) {
        padding-top: 80px;
    }

    &.stations, &.species {
        width: 100%;
        max-width: 100%;

        margin-top: 10px;

        @include media(md) {
            margin-top: 40px;
            padding-left: 6%;
            padding-right: 6%;
        }

        @include media(lg) {
            margin-top: 60px;
            padding-left: 8%;
            padding-right: 8%;
        }

        & .page-subtitle {
            border-bottom: 0;
        }
    }

    &.stations {
        padding-top: 0;
        padding-bottom: 0;

        @include media(md) {
            padding-bottom: 100px;
        }
    }
}

