{#
    #: optionnal,
    *: required,
    |: default
    [int..int]: array indexes ([...] if no precise length defined)

    id#: string
    accordion*: object
        title*: string
        contents*: array
            [...](content) object
                type#: string ('include', 'html') | 'include'
(if 'include')  include_uri*: string (template uri)
                include_object_name*: string
                data*: object (data to transmit to template)
(else)          html*: string (html)



#}
<div class="accordion-block" {{ id is defined ? "data-id=#{id}"}} {{ accordion.tab_reference is defined ? "data-tab=#{accordion.tab_reference}"}}>
    <h4><a href="#" class="accordion-title-dropdown right-arrow-orange-icon">{{ accordion.title|capitalize }}</a></h4>

    <div class="accordion-content" style="display: none">
        {% for content in accordion.contents %}
            {% if content.type|default('include') == 'include' %}
                {% include content.include_uri with {(content.include_object_name): content.data}%}
            {% elseif content.type == 'html' %}
                {{ content.html|raw }}
            {% endif %}
        {% endfor %}
    </div>
</div>