<div class="accordion-block" data-id="{{ id }}" data-tab="{{ type.reign }}">
    <h4><a href="" class="accordion-title-dropdown right-arrow-orange-icon">{{ type.name == 'arbres' ? 'Arbres, arbustes et fruitiers' : type.name|capitalize }}</a></h4>

    <div class="accordion-content hide">
        {% for speciesGroupName, speciesGroup in speciesGroups(typeSpecies) %}
            {% if 1 == speciesGroup|length or 'arbres' != type.name %}
                {% for species in speciesGroup %}
                    {% include 'components/list-cards/species-list-cards.html.twig' with {species:species} %}
                {% endfor %}
            {% else %}
                {% include 'components/list-cards/species-group-list-cards.html.twig' with {
                    speciesGroup:speciesGroup,
                    speciesGroupName:speciesGroupName
                } %}
            {% endif %}
        {% endfor %}
    </div>
</div>
