{#
    #: optionnal,
    *: required,
    @: generic data name (i.e. type of data which must be found here),
    [int..int]: array indexes ([...] if no precise length defined)

    actionbar#: object
        classes#: string
        components*: array of 1 to 3
            [...](component) object
                name*: string (side-block, tabs-holder, squared-button)
                data||@component_name# (e.g. side_block): object
                    @component_data (any)
#}
<div class="actionbar {{ actionbar.classes|default }}">
    {% for component in actionbar.components %}
        {% set path = component.name == 'squared-button' ? 'buttons' : 'actionbar-components' %}
        {% include "components/#{path}/#{component.name}.html.twig" with {(component.name|replace({'-':'_'})): component.data|default} %}
    {% endfor %}
</div>