{% set types = [
	'success',
	'notice',
	'warning',
	'error'
] %}
{% for type in types %}
	{% if app.session.flashbag.peek(type)|length > 0 %}
		<div class="app-flashes">
			{% for label, message in app.flashes(type) %}
				<div class="app-flashes__{{ label }} app-flashes-{{ type }}" style="width: 100%">
					<div>
						{{ message|raw }}
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endfor %}
