<div class="breadcrumbs">
    <div class="breadcrumb-item">
        <a href="/" class="breadcrumb-link">Accueil</a>
    </div>
    {% for routeName, breadcrumb in breadcrumbs %}
        {% if loop.last %}
            <div class="breadcrumb-active-page">{{ breadcrumb }}</div>
        {% else %}
            <a href="{{ path(routeName) }}" class="breadcrumb-link">{{ breadcrumb }}</a>
        {% endif %}
    {% endfor %}
</div>