{#
    *: required
    id*:int
    eventSpecies*: EventSpecies


#}
{% set pictureSuffixe = eventSpecies.species.type.name == 'arbres' is not null ? "_#{eventSpecies.event.stadeBbch|first}" : '' %}
<div class="now featured-species species {{ id != 0 ? 'hidden' }}" style="background-image: url({{ "/media/species/#{eventSpecies.species.picture}#{pictureSuffixe}.jpg" }});">
    <div class="content-block-infos horiz">
        {% include 'components/buttons/nav-arrow-buttons.html.twig' with {arrows:{
            'target': 'featured-species',
            'forwardLoop': {'path' : ''},
            'borders': 'no-border'
        }} %}
        <div class="infos-insert">
            <h3 class="content-narrow-title">à Observer en ce moment</h3>
            <h4 class="content-blocks-title small">{{ eventSpecies.species.vernacularName|capitalize }}</h4>
            <a href="{{ path('species_single_show', {vernacularName: eventSpecies.species.vernacularName}) }}" class="home-link green pointer">Comment l'observer ?</a>
        </div>
    </div>
</div>