{#
    #: optionnal,
    *: required,
    |: default
    
    help: object
        text*: string (may contain html to display)
        page_uri#: string | 'participer'
        label#: string | 'protocole'
        presision#: string |  'pour en savoir plus.'
#}
<div class="help-block">
    <h4 class="helper-title">Besoin d’aide ?</h4>
    <div class="sep"></div>
    <p>{{ help.text|raw }}
        Consultez la page
        <a href=#{path('participer')}#protocole class="green-link">protocole</a> pour en savoir plus.
    </p>
</div>
