{#
    *: required
    [int..int]: array indexes ([...] if no precise length defined)

    station*: Station
    observations*: array
        [...] Observations
#}
<div class="hero-header large-map">

    <div class="hero-header-content">
        <h3 class="hero-header-title"><span class="lighter">Stations d’observation</span></h3>
        <p class="hero-header-subtitle">
            Voici les stations d’observations dans lesquelles vous pouvez saisir vos observations.<br>
            Cherchez d’abord si vous trouvez une station publique près de chez vous dans laquelle vous pourrez contribuer, sinon créez une station (en bas de la liste) ou accéder à vos stations (dans l’onglet “Mes stations”).
        </p>
    </div>


    {% if app.user %}
        <a href="" class="button hero-header-button bt-add open" data-open="station">créer une nouvelle station</a>
    {% endif %}

    <div id="stations-list-header-map" class="hero-header-media-part map show-map" data-stations-query="{{ dataStationsQuery|default }}"></div>
    <script>
        let dataRoute = "{{ path('stations_map_info')|escape('js') }}";
        let stationUrlTemplate = "{{ path('stations_show', {slug: 'slugPlaceHolder'})|escape('js') }}";
    </script>
</div>
