{#
        images* string
        icon_name# string | 'private'
        additionnal_class# string
#}
<div class="card-header" style="{{ datas[0] is defined ? "background-image: url(#{datas[0]})" }}">
    {% if datas[1] is defined %}
        <div class="{{ datas[1]|default('private') }}-icon {{ datas[2]|default }}"></div>
    {% endif %}
</div>