{#
    #: optionnal,
    *: required,
    |: default

    header#: object
        images*: string
        icon# string | 'private'
#}

{% if header.icon_name is defined %}
    <div class="{{ header.icon_name|default('private') }}-icon"></div>
{% endif %}