<div class="footer">
	<div class="footer-main">
		<div class="footer-main-col">
			<div class="footer-link-list first">
				<div class="footer-title">Près de chez vous</div>
				<a href="#" class="footer-link">ODS&nbsp;Provence</a>
				<a href="#" class="footer-link">Liste des relais</a>
				<a href="{{ path('stations') }}" class="footer-link">Liste des stations d'observation</a>
			</div>
			<div class="subfooter-left">
				<a href="#" class="subfooter-link">FAQ /&nbsp;Aide</a>
				<div class="bulllet"></div>
				<a href="#" class="subfooter-link lower">Mentions légales</a>
			</div>
		</div>
		<div class="footer-main-col">
			<div class="footer-link-list">
				<div class="footer-title">Enseignants, pros, assos</div>
				<a href="#" class="footer-link">Devenir relais</a>
				<a href="{{ path('outils-ressources') }}" class="footer-link">Formations et outils</a>
				<a href="{{ path('outils-ressources') }}" class="footer-link">Ressources</a>
			</div>
		</div>
	</div>
	<div class="footer-right">
		<img src="{{ asset('media/layout/ods_tela_cnrs_logos.png') }}" alt="" class="footer-logos" width="160">
		<div>
			<a href="#" class="button">Contactez-nous</a>
		</div>
		<div class="subfooter-right">
			<div>Site réalisé par&nbsp; </div>
			<a href="https://www.tela-botanica.org/" class="subfooter-link">Tela Botanica</a>
		</div>
	</div>
</div>