{% set header_defaults = {
    'actualites': [
        'Actualités',
        'Vos <strong>actualites</strong> de l\'Observatoire des saisons.'
    ],
    'apropos': [
        'À propos de l\'Observatoire des saisons',
        'Participez au programme de <strong>l\'ODS</strong>.'
    ],
    'evenements': [
        'Evenements',
        'Vos <strong>évènements</strong> de l\'Observatoire des saisons.'
    ],
    'especes': [
        'Espèces à observer',
        'Toutes les espèces du programme <strong>Observatoire des saisons</strong>.'
    ],
    'participer': [
        'Participer',
        'Participez au programme de <strong>l\'Observatoire des saisons</strong>.'
    ],
    'stations': [
        'Stations d\'observation',
        'Les <strong>stations d’observation</strong> sont les zones où se trouvent les plantes ou animaux que vous souhaitez observer. <br>Vous pouvez rejoindre une station existante ou en créer une nouvelle.'
    ],
    'resultats': [
        'Les résultats',
        'Tous les résultats du programme <strong>Observatoire des saisons</strong>.'
    ],
    'outils': [
        'Outils',
        'Tous les outils du programme <strong>Observatoire des saisons</strong>.'
    ],
    'ressources': [
        'Ressources',
        'Toutes les ressources du programme <strong>Observatoire des saisons</strong>.'
    ],
    'relais': [
        'Contactez les relais ODS de votre région',
        'Tous les relais du programme <strong>Observatoire des saisons</strong> près de chez vous.'
    ]
} %}
{% if headers is not defined %}
    {% set headers = header_defaults %}
{% endif %}
<div class="page-header">
    <h2 class="page-title">{{ headers[header][0] }}</h2>
    <p class="page-subtitle">{{ headers[header][1]|raw }}</p>
</div>