<div class="overlay hidden">
	<div class="saisie-container">
		<h3 class="saisie-header">
			Abricotier &nbsp;<span class="text-span-2">• &nbsp;Saisir une observation</span>
		</h3>
		<div class="saisie ods-form">
			<form id="wf-form-Saisie" name="wf-form-Saisie" data-name="Saisie">
				<div class="_2-col-form">
					<div class="form-col">
						<label for="name">Individu</label>
						<select id="field" name="field" data-name="Field" class="select-field">
							<option value="">Abricotier de la sortie Est</option>
							<option value="First">First Choice</option>
							<option value="Second">Second Choice</option>
							<option value="Third">Third Choice</option>
						</select>
					</div>
					<div class="form-col small">
						<label for="name">Date</label>
						<input type="email" class="text-field ods-input" maxlength="256" name="email" data-name="Email" id="email" required="">
					</div>
				</div>
				<div class="_2-col-form">
					<div class="form-col">
						<label for="name">Stade observé</label>
						<select id="field-2" name="field-2" data-name="Field 2" class="select-field and-help">
							<option value="">Feuillaison - Stade 15</option>
							<option value="First">First Choice</option>
							<option value="Second">Second Choice</option>
							<option value="Third">Third Choice</option>
						</select>
						<div class="saisie-aide">
							<img src="https://assets.website-files.com/5ce249c60b5f0ba8c825fa9f/5ce2720b24b02e7d145510f5_small01.jpg" alt="" width="80" height="80">
							<div class="saisie-aide-txt">
								<div class="text-block-15">Feuillaison - stade 15</div>
								<div class="text-block-14">Environ 50% des feuilles étalées</div>
								<a href="#" class="green-link small">Plus de détails</a>
							</div>
						</div>
					</div>
					<div class="form-col small check">
						<div class="ods-checkbox">
							<input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" class="ods-checkbox-input">
							<label for="checkbox" class="checkbox-label ods-form-label">Absence</label>
						</div>
						<p class="field-help-text">
							Si vous souhaitez signaler que ce stade n’a pas eu lieu cette année,
							vous pouvez cocher cette case.
						</p>
					</div>
				</div>
				<div class="div-block-9">
					<label for="name">Vos photos</label>
					<div class="text-block-16">Optionnel</div>
				</div>
				<div class="upload-zone">
					<img src="{{ asset('media/layout/icons/photo.svg') }}" alt="upload photo" width="32">
					<div class="upload-zone-placeholder">Ajoutez une photo</div>
				</div>
			</form>
			<div class="ods-form-done">
				<div>Thank you! Your submission has been received!</div>
			</div>
			<div class="ods-form-fail">
				<div>Oops! Something went wrong while submitting the form.</div>
			</div>
		</div>
		<div class="saisie-footer">
			<a href="#" class="button bt-form bt-annuler">
				<div>Annuler</div>
			</a>
			<a href="#" class="button bt-form bt-valider">
				<div>Valider</div>
			</a>
		</div>
	</div>
</div>
