@mixin icons {
    $icons: (
        'cadenas',
        'calendrier',
        'leaf',
        'pointer',
        'pointer-orange',
        'right-arrow-green',
        'right-arrow-orange',
        'down-arrow',
        'up-arrow-green',
        'left-arrow-green',
        'left-arrow-blue',
        'search',
        'person',
        'add-circle',
        'add-square',
        'add-square-orange',
        'export',
        'help-circle',
        'delete',
        'delete-green',
        'edit-calendar',
        'edit-list',
        'edit',
        'edit-green',
        'eye-crossed',
        'add-pointer',
        'right-arrow-white',
        'right-arrow-blue',
        'left-arrow-white'
    );
    @each $icon in $icons {
        .#{$icon}-icon {
            background-image: image-url($icon);
        }
    }
}

@include icons;

@mixin pre-text-icon(
    $url: null,
    $size: 12,
    $font-size: 13,
    $position: 0 50%,
    $padding-left: null
) {
    @if not $padding-left {
        $padding-left: $size + $font-size;
    }
    padding-left: $padding-left * 1px;
    font-size: $font-size *1px;
    @include background-image($url, $position, $size * 1px);
}
